<header>
    <nav class="navbar">
        <nav class="navbar-left">
            <div><a onclick="openNav()" class="btn-menu" href="#"><i class="fas fa-bars"></i></a></div>
            <div class="logo"><a href="/"><img src="/img/logo.svg" alt=""></a></div>
            <div class="logo-texto"><a href="/">El Cáliz</a></div>
        </nav>
        <div class="search-box-container">
            <div class="search-box">
                <input type="input" name="" id="" placeholder="Buscar...">
                <button class="button-search"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <nav class="navbar-right">
            <div class="btn-user"><a href="/users/login"><i class="fas fa-user"></i></a></div>
            <div class="btn-cart">
                <a href="/orders/cart"><i class="fas fa-shopping-cart"></i></a>
                <div class="cart-qty">8</div>
            </div>
        </nav>
    </nav>
    <nav>
        <ul class="categories">
            <li><a href="#">BLANCOS</a></li>
            <li><a href="#">TINTOS</a></li>
            <li><a href="#">ESPUMANTES</a></li>
            <li><a href="#">COSECHA TARDÍA</a></li>
            <li><a href="#">ESPECIALES</a></li>
            <li><a href="#">ACCESORIOS</a></li>
            <li><a href="#">OFERTAS</a></li>
        </ul>
    </nav>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">BLANCOS</a>
        <a href="#">TINTOS</a>
        <a href="#">ESPUMANTES</a>
        <a href="#">COSECHA TARDÍA</a>
        <a href="#">ESPECIALES</a>
        <a href="#">ACCESORIOS</a>
        <a href="#">OFERTAS</a>
    </nav>
    </header>