<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header')%>

    <main>
        <article>
            <div class="category">
                <div class="category-bar">
                    <a>Categoría > Blancos</a>                           
                </div>
                <div class="filter">
                    <div>
                        <div class="qtyProducts">20 productos</div>
                    </div>
                    <div>
                         <button class="buttonFilter">
                            <a class="order-by">
                                <span>Ordenar </span><i class="fas fa-sort-amount-up"></i>
                            </a>
                        </button>
                        <button class="buttonFilter">
                            <span>Filtrar </span><i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                </div> 
                <div>
                    <h3>Filtrar Por</h3>
                </div>
                <div class="filter-category">
                    <ul class="deslizante1">
                        <h5 class="title">CATEGORÍAS</h5>
                        <li class="list">
                                <input type="checkbox"> Tintos
                        </li>
                        <li class="list">
                                <input type="checkbox"> Blancos
                        </li>
                        <li class="list">
                                <input type="checkbox"> Rosados
                        </li>
                        <li class="list">
                                <input type="checkbox"> Espumantes
                        </li>
                        <li class="list">
                                <input type="checkbox"> Accesorios
                        </li>
                        <li class="list">
                                <input type="checkbox"> Ofertas
                        </li>
                        <button>Aplicar</button>
                    </ul>
                </div>
                <div class="filter-category">
                    <ul class="deslizante2">
                        <h5 class="title">MARCAS</h5>
                        <li class="list">
                                <input type="checkbox"> Marca 1
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 2
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 3
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 4
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 5
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 6
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 2
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 3
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 4
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 5
                        </li>
                        <li class="list">
                                <input type="checkbox"> Marca 6
                        </li>
                        <button>Aplicar</button>
                    </ul>
                </div> 
                <div class="filter-category">
                    <ul>
                        <h5 class="title">PRECIO</h5>
                        <div class="filter-price">
                            <i class="far fa-circle"></i>
                                <div class="line"></div>
                            <i class="far fa-circle"></i>
                        </div>
                        <div class="price">
                            <h5>$250 - $3500</h5>
                        </div>
                        <button>Aplicar</button>
                    </ul>
                </div> 

            </div>

    
        </article>

        
    </main>

    <%- include ('../partials/footer') %>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>