<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header')%>

    <main>
        <article>
            <div class="category">
                <div class="category-bar">
                    <div class="category-one">
                    <a class="category-top" href="/blancos/">Blancos</a>                           
                    </div>
                    <div class="subcategories">
                        <a class="sub" href="/blancos/chardonnay/">Chardonnay</a>
                        <a class="sub" href="/blancos/chenninBlanc/">Chennin Blanc</a>
                        <a class="sub" href="/blancos/torrontes/">Torrontes</a>
                        <a class="sub" href="/blancos/sauvignonBlanc/">Sauvignon Blanc</a>                      
                    </div>
                </div>
                <div class="filter">
                    <div class="qtyProducts">50 productos</div>
                        <div>
                            <button class="buttonFilter">
                                <span>Ordenar </span><i class="fas fa-sort-amount-up"></i>
                            </button>
                            <button class="buttonFilter">
                                <span>Filtrar </span><i class="fas fa-sliders-h"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--CODIGO DE GONZA-->
        <section class="featured">
            <article class="carrusel">
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DanteRobinoChardonnay.png" alt="vinito"></div>
                    <p class="nombre-vino">Vino Dante Robino<br>Reserva Malbec</p>
                    <p class="precio-vino">$2000</p>
                    <span class="add-buttonn">
                        <button class="fas fa-cart-plus">AGREGAR</button> 
                    </span>
                </div>
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DanteRobinoExtraBrut.png" alt="vinito"></div>
                    <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
                    <p class="precio-vino">$2000</p>
                    <span class="add-buttonn">
                        <button class="fas fa-cart-plus">AGREGAR</button> 
                    </span>
                </div>
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DRReservaMalbec.png" alt="vinito"></div>
                    <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
                    <p class="precio-vino">$2000</p>
                    <span class="add-buttonn">
                        <button class="fas fa-cart-plus">AGREGAR</button> 
                    </span>
                </div>
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DRReservaMalbec.png" alt="vinito"></div>
                    <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
                    <p class="precio-vino">$2000</p>
                    <span class="add-buttonn">
                        <button class="fas fa-cart-plus">AGREGAR</button> 
                    </span>
                </div>
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/NovecentoRosado.png" alt="vinito"></div>
                    <p class="nombre-vino">Vino Dante Robino<br>Reserva Malbec</p>
                    <p class="precio-vino">$2000</p>
                    <span class="add-buttonn">
                        <button class="fas fa-cart-plus">AGREGAR</button> 
                    </span>
                </div>
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DanteRobinoChardonnay.png" alt="vinito"></div>
                    <p class="nombre-vino">Vino Dante Robino<br>Reserva Malbec</p>
                    <p class="precio-vino">$2000</p>
                    <span class="add-buttonn">
                        <button class="fas fa-cart-plus">AGREGAR</button> 
                    </span>
                </div>
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DanteRobinoExtraBrut.png" alt="vinito"></div>
                    <p class="nombre-vino">Vino Dante Robino<br>Reserva Malbec</p>
                    <p class="precio-vino">$2000</p>
                    <span class="add-buttonn">
                        <button class="fas fa-cart-plus">AGREGAR</button> 
                    </span>
                </div>
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DRReservaMalbec.png" alt="vinito"></div>
                    <p class="nombre-vino">Vino Dante Robino<br>Reserva Malbec</p>
                    <p class="precio-vino">$2000</p>
                    <span class="add-buttonn">
                        <button class="fas fa-cart-plus">AGREGAR</button> 
                    </span>
                </div>    
            </article>
        </section>
        <!--TERMINA CODIGO DE GONZA-->
    </main>

    <%- include ('../partials/footer') %>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>