<!DOCTYPE html>
<html lang="es">

<%- include('partials/head')%>

<body>

    <%- include('partials/header')%>

    <main>

        <section class="cart-header">
            <p class="cart-title">SU COMPRA</p>
        </section>

        <section class="cart">

            <article class="cart-item">
                <div class="cart-product-name"><a href="#">SAURUS ESTATE MERLOT - 750CL</a></div>
                <div class="cart-item-inner">
                    <div class="cart-product-img"><a href="#"><img src="/img/homeParte2/DanteRobinoChardonnay.png" alt=""></a></div>
                    <div class="price-qty">
                        <div class="unit-price"><p class="price">$1000</p></div>
                        <div class="qty-selector">
                            <div class="qty-minus"><i class="fas fa-minus-circle"></i></div>
                            <div class="qty">44</div>
                            <div class="qty-plus"><i class="fas fa-plus-circle"></i></div>
                        </div>
                        <div class="qty-subtotal"><p class="subtotal">$2000</p></div>
                    </div>
                    <div class="trash"><i class="fas fa-trash"></i></div>
                </div>
            </article>

            <article class="cart-item">
                <div class="cart-product-name"><a href="#">SAURUS ESTATE MERLOT - 750CL</a></div>
                <div class="cart-item-inner">
                    <div class="cart-product-img"><a href="#"><img src="/img/homeParte2/DanteRobinoExtraBrut.png" alt=""></a></div>
                    <div class="price-qty">
                        <div class="unit-price"><p class="price">$1000</p></div>
                        <div class="qty-selector">
                            <div class="qty-minus"><i class="fas fa-minus-circle"></i></div>
                            <div class="qty">1</div>
                            <div class="qty-plus"><i class="fas fa-plus-circle"></i></div>
                        </div>
                        <div class="qty-subtotal"><p class="subtotal">$2000</p></div>
                    </div>
                    <div class="trash"><i class="fas fa-trash"></i></div>
                </div>
            </article>
            <article class="cart-item">
                <div class="cart-product-name"><a href="#">SAURUS ESTATE MERLOT - 750CL</a></div>
                <div class="cart-item-inner">
                    <div class="cart-product-img"><a href="#"><img src="/img/homeParte2/DRReservaMalbec.png" alt=""></a></div>
                    <div class="price-qty">
                        <div class="unit-price"><p class="price">$1000</p></div>
                        <div class="qty-selector">
                            <div class="qty-minus"><i class="fas fa-minus-circle"></i></div>
                            <div class="qty">1</div>
                            <div class="qty-plus"><i class="fas fa-plus-circle"></i></div>
                        </div>
                        <div class="qty-subtotal"><p class="subtotal">$2000</p></div>
                    </div>
                    <div class="trash"><i class="fas fa-trash"></i></div>
                </div>
            </article>
            <article class="cart-item">
                <div class="cart-product-name"><a href="#">SAURUS ESTATE MERLOT - 750CL</a></div>
                <div class="cart-item-inner">
                    <div class="cart-product-img"><a href="#"><img src="/img/homeParte2/NovecentoRosado.png" alt=""></a></div>
                    <div class="price-qty">
                        <div class="unit-price"><p class="price">$1000</p></div>
                        <div class="qty-selector">
                            <div class="qty-minus"><i class="fas fa-minus-circle"></i></div>
                            <div class="qty">1</div>
                            <div class="qty-plus"><i class="fas fa-plus-circle"></i></div>
                        </div>
                        <div class="qty-subtotal"><p class="subtotal">$2000</p></div>
                    </div>
                    <div class="trash"><i class="fas fa-trash"></i></div>
                </div>
            </article>
        </section>

        <section class="cart-footer">
        <div class="cart-footer-total">
            <p>TOTAL : </p>
            <p class="cart-total">$5802,32</p>
        </div>
        <div class="cart-buttons">
            <button type="button" class="cart-button btn-finish button button-primary">COMPRAR CARRITO</button>
            <button type="button" class="cart-button btn-back button button-secondary">VOLVER AL LISTADO</button>
        </div>
    </section>

    </main>

    <%- include ('partials/footer') %>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>