<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>

    <%- include('../partials/header')%>

    <main>

        <section class="cart-header">
            <h4 class="cart-title">TU CARRITO</h4>
            
            <div id="vacio" class="vacio"></div>
        </section>

        <section class="cart-footer">
            <div class="cart-footer-total" id="precioTotal">
                <h3>TOTAL: $</h3>
            </div>
            <div class="cart-buttons">
                <div>
                    <a href="/">
                        <button type="submit" class="button">SEGUIR COMPRANDO</button>
                    </a>
                </div>
                <div>
                    <button class="button" id="botonBorrar" type="button" onclick="">VACIAR CARRITO</button> 
                </div>
                <div>
                    <form action="#" method="GET">
                        <button class="button" type="submit" id="purchase">INICIAR COMPRA</button>
                    </form> 
                </div>
            </div>
        </section>
    </main>

    <%- include ('../partials/footer') %>
    
     <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script src="/js/carrito.js"></script>
    <script src="/js/contador.js"></script>
</body>

</html>