<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Fira+Sans&family=Fira+Sans+Condensed&family=Fira+Sans+Extra+Condensed&display=swap"
        rel="stylesheet">
    <title>Login - El Cáliz</title>
</head>

<body>

    <header>

        <nav class="navbar">
            <nav class="navbar-left">
                <div><a onclick="openNav()" class="btn-menu" href="#"><i class="fas fa-bars"></i></a></div>
                <div class="logo"><a href="/"><img src="img/logo.svg" alt=""></a></div>
                <div class="logo-texto"><a href="/">El Cáliz</a></div>
            </nav>
            <div class="search-box-container">
                <div class="search-box">
                    <input type="input" name="" id="" placeholder="Buscar...">
                    <button class="button-search"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <nav class="navbar-right">
                <div class="btn-user"><a href="/login"><i class="fas fa-user"></i></a></div>
                <div class="btn-cart"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
            </nav>
        </nav>
    </header>
    <main>
        <section class="form-login">
                    <h1>TU CUENTA</h1> 
                  <h3> EMAIL</h3>      
                 <input  class="controls" type="text"  name="email"  value= "" placeholder= pepe@ejemplo.com>
                  <h3>CONTRASEÑA</h3>
                <input  class="controls" type="password"  name="contraseña"  value= "" placeholder= *********>
                <input  class="buttons" type="submit"  name="" value="INGRESAR">
               <br>
               <label> 
                   <input type="checkbox">
                   CREAR CUENTA
               </label>
               <br>
               <label> 
                <input type="checkbox">
                OLVIDE MI CONTRASEÑA
               </label>
              
      
             </section>
       </main>
    
        <footer>
            <section>
                <article>
                    <div class="newsletter-box">
                        <div class="newsletter-text">
                            <h2>Recibí todas nuestras ofertas y novedades</h2>
                        </div>
                        <div class="newsletter-form">
                            <div class="mail-box">
                                <input name="email" type="text" placeholder="Tu email">
                            </div>
                            <div class="mail-button">
                                <button>SUSCRIBIRSE</button> 
                            </div>
                        </div>
                    </div>
                </article>
            <section>
            <article>
                <div class="footer">
                    <div class="footer-icons">
                        <div class="whatsapp-icon">
                           <i class="fab fa-whatsapp"><a href=" https://wa.me/+541112345678"></a> </i>
                        </div>
                        <div class="scrollup-icon">
                           <i class="fas fa-arrow-circle-up"></i>
                        </div>
                    </div>
                    <div class="footer-boxes">
                        <div class="footer-box1">
                        <div class="followus">
                            <h2>SEGUINOS</h2>
                                <div class="social-icons">
                                    <div class="twitter-icon">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                    <div class="facebook-icon">
                                        <i class="fab fa-facebook"></i>
                                    </div>
                                    <div class="instagram-icon">
                                        <i class="fab fa-instagram"></i>
                                    </div>
                                </div>
                        </div>
                        </div>
    
                        <div class="footer-box2">
                        <div class="contact">
                            <h2>CONTACTO</h2>
                            <ul class="contact-info">
                                <li class="address"><h4>Falsa 123, Capital Federal</h4></li>
                                <li class="whatsapp"><a href=" https://wa.me/+541112345678"><h4>WHATSAPP 1112345678</h4</a></li>
                                <li class="phone"><a href="tel:+541144441212" target="_blank"><h4>
                                TELÉFONO 1144441212</h4></a></li>
                            </ul>
                        </div>
                        </div>
    
                        <div class="footer-box3">
                        <div class="company">
                            <h2>EMPRESA</h2>
                            <ul class="company-info">
                                <li class="help-questions"><a href="#"><h4>Preguntas Frecuentes</h4></a></li>
                                <li class="terms"><a href="#"><h4>Términos y Condiciones</h4></a></li>
                                <li class="map"><a href="#"><h4>Mapa del sitio</h4></a></li>
                            </ul>
                        </div>
                        </div>
    
                        <div class="footer-box4">
                        <div class="regret-button">
                            <button>Botón de Arrepentimiento</button> 
                        </div>
                        <div class="safe-icons">
                            <div class="qr-icon">
                                <i class="fas fa-qrcode"></i>
                            </div>
                            <div class="ssl-icon">
                                <i class="fab fa-expeditedssl"></i>
                            </div>
                        </div>
                        </div>
                    </div>
    
                </div>   
            </article>
    
        </section>        
        </footer>
    
</body>

</html>