<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="css/productCart.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Fira+Sans&family=Fira+Sans+Condensed&family=Fira+Sans+Extra+Condensed&display=swap"
        rel="stylesheet">
    <title>Carro de compras - El Cáliz</title>
</head>

<body>
    <header>

        <nav class="navbar">
            <div><a onclick="openNav()" class="btn-menu" href="#"><i class="fas fa-bars"></i></a></div>
            <div class="logo"><a href="/"><img src="img/logo.svg" alt=""></a></div>
            <div class="logo-texto"><a href="/">El Cáliz</a></div>
            <div class="search-box">
                <input type="input" name="" id="" placeholder="Buscar...">
                <button class="button-search"><i class="fas fa-search"></i></button>
            </div>
            <div class="btn-user"><a href="/login"><i class="fas fa-user"></i></a></div>
            <div class="btn-cart"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
        </nav>
        <nav>
            <ul class="categories">
                <li><a href="#">BLANCOS</a></li>
                <li><a href="#">TINTOS</a></li>
                <li><a href="#">ESPUMANTES</a></li>
                <li><a href="#">COSECHA TARDÍA</a></li>
                <li><a href="#">ESPECIALES</a></li>
                <li><a href="#">ACCESORIOS</a></li>
                <li><a href="#">OFERTAS</a></li>
            </ul>
        </nav>
        <nav id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">BLANCOS</a>
            <a href="#">TINTOS</a>
            <a href="#">ESPUMANTES</a>
            <a href="#">COSECHA TARDÍA</a>
            <a href="#">ESPECIALES</a>
            <a href="#">ACCESORIOS</a>
            <a href="#">OFERTAS</a>
        </nav>
    </header>

    <main>

        <section class="cart-header">
            <p class="cart-title">SU COMPRA</p>
        </section>

        <section class="cart">

            <article class="cart-item">
                <div class="cart-product-name"><a href="#">SAURUS ESTATE MERLOT - 750CL</a></div>
                <div class="cart-item-inner">
                    <div class="cart-product-img"><a href="#"><img src="img/homeParte2/DanteRobinoChardonnay.png" alt=""></a></div>
                    <div class="price-qty">
                        <div class="unit-price"><p class="price">$1000</p></div>
                        <div class="qty-selector">
                            <div class="qty-minus"><i class="fas fa-minus-circle"></i></div>
                            <div class="qty">44</div>
                            <div class="qty-plus"><i class="fas fa-plus-circle"></i></div>
                        </div>
                        <div class="qty-subtotal"><p class="subtotal">$2000</p></div>
                    </div>
                    <div class="trash"><i class="fas fa-trash"></i></div>
                </div>
            </article>

            <article class="cart-item">
                <div class="cart-product-name"><a href="#">SAURUS ESTATE MERLOT - 750CL</a></div>
                <div class="cart-item-inner">
                    <div class="cart-product-img"><a href="#"><img src="img/homeParte2/DanteRobinoExtraBrut.png" alt=""></a></div>
                    <div class="price-qty">
                        <div class="unit-price"><p class="price">$1000</p></div>
                        <div class="qty-selector">
                            <div class="qty-minus"><i class="fas fa-minus-circle"></i></div>
                            <div class="qty">1</div>
                            <div class="qty-plus"><i class="fas fa-plus-circle"></i></div>
                        </div>
                        <div class="qty-subtotal"><p class="subtotal">$2000</p></div>
                    </div>
                    <div class="trash"><i class="fas fa-trash"></i></div>
                </div>
            </article>
            <article class="cart-item">
                <div class="cart-product-name"><a href="#">SAURUS ESTATE MERLOT - 750CL</a></div>
                <div class="cart-item-inner">
                    <div class="cart-product-img"><a href="#"><img src="img/homeParte2/DRReservaMalbec.png" alt=""></a></div>
                    <div class="price-qty">
                        <div class="unit-price"><p class="price">$1000</p></div>
                        <div class="qty-selector">
                            <div class="qty-minus"><i class="fas fa-minus-circle"></i></div>
                            <div class="qty">1</div>
                            <div class="qty-plus"><i class="fas fa-plus-circle"></i></div>
                        </div>
                        <div class="qty-subtotal"><p class="subtotal">$2000</p></div>
                    </div>
                    <div class="trash"><i class="fas fa-trash"></i></div>
                </div>
            </article>
            <article class="cart-item">
                <div class="cart-product-name"><a href="#">SAURUS ESTATE MERLOT - 750CL</a></div>
                <div class="cart-item-inner">
                    <div class="cart-product-img"><a href="#"><img src="img/homeParte2/NovecentoRosado.png" alt=""></a></div>
                    <div class="price-qty">
                        <div class="unit-price"><p class="price">$1000</p></div>
                        <div class="qty-selector">
                            <div class="qty-minus"><i class="fas fa-minus-circle"></i></div>
                            <div class="qty">1</div>
                            <div class="qty-plus"><i class="fas fa-plus-circle"></i></div>
                        </div>
                        <div class="qty-subtotal"><p class="subtotal">$2000</p></div>
                    </div>
                    <div class="trash"><i class="fas fa-trash"></i></div>
                </div>
            </article>
        </section>

        <section class="cart-footer">
        <div class="cart-footer-total">
            <p>TOTAL : </p>
            <p class="cart-total">$5802,32</p>
        </div>
        <div class="cart-buttons">
            <button type="button" class="cart-button btn-finish button button-primary">COMPRAR CARRITO</button>
            <button type="button" class="cart-button btn-back button button-secondary">VOLVER AL LISTADO</button>
        </div>
    </section>

</main>
    <footer>
    </footer>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>