<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Fira+Sans&family=Fira+Sans+Condensed&family=Fira+Sans+Extra+Condensed&display=swap"
        rel="stylesheet">
    <title>Detalle del producto - El Cáliz</title>
</head>

<body>
    <header>

        <nav class="navbar">
            <div><a onclick="openNav()" class="btn-menu" href="#"><i class="fas fa-bars"></i></a></div>
            <div class="logo"><a href="/"><img src="img/logo.svg" alt=""></a></div>
            <div class="logo-texto"><a href="/">El Cáliz</a></div>
            <div class="search-box">
                <input type="input" name="" id="" placeholder="Buscar...">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="btn-user"><a href="/login"><i class="fas fa-user"></i></a></div>
            <div class="btn-cart"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
        </nav>
        <nav>
            <ul class="categories">
                <li><a href="#">BLANCOS</a></li>
                <li><a href="#">TINTOS</a></li>
                <li><a href="#">ESPUMANTES</a></li>
                <li><a href="#">COSECHA TARDÍA</a></li>
                <li><a href="#">ESPECIALES</a></li>
                <li><a href="#">ACCESORIOS</a></li>
                <li><a href="#">OFERTAS</a></li>
            </ul>
        </nav>
        <nav id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">BLANCOS</a>
            <a href="#">TINTOS</a>
            <a href="#">ESPUMANTES</a>
            <a href="#">COSECHA TARDÍA</a>
            <a href="#">ESPECIALES</a>
            <a href="#">ACCESORIOS</a>
            <a href="#">OFERTAS</a>
        </nav>
    </header>
    <main>
        <article class="winec">
            <img src="img/vino cadus.jpeg" alt="wine cadus">
            <h4>CADUS FINCA VIÑA VIDA MALBEC 750 CC</h4>
            <h5>Código SKU</h5>
            <p>Vino de color rojo violáceo. En nariz presenta frutas negras, notas florales como
                lavanda, especias finas y pimienta negra. Debido a su guarda de 24 meses en
                barricas de roble, aparecen notas de especias y cacao amargo, ambas integradas
                en el vino. En boca, los taninos y la acidez generan una tensión equilibrada que
                le da elegancia y clase. A su vez, le confieren textura, fluidez y un largo final. Un
                vino de elegancia destacada.</p>
            <h3>Precio</h3>
            <h3>$2000</h3>
        </article>
    </main>
    <footer>
    </footer>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>