<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Fira+Sans&family=Fira+Sans+Condensed&family=Fira+Sans+Extra+Condensed&display=swap"
        rel="stylesheet">
    <title>Registrarse - El Cáliz</title>
</head>

<body>
    <header>

        <nav class="navbar">
            <div><a onclick="openNav()" class="btn-menu" href="#"><i class="fas fa-bars"></i></a></div>
            <div class="logo"><a href="/"><img src="img/logo.svg" alt=""></a></div>
            <div class="logo-texto"><a href="/">El Cáliz</a></div>
            <div class="search-box">
                <input type="input" name="" id="" placeholder="Buscar...">
                <button class="button-search"><i class="fas fa-search"></i></button>
            </div>
            <div class="btn-user"><a href="/login"><i class="fas fa-user"></i></a></div>
            <div class="btn-cart"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
        </nav>
    </header>
    <main>
    </main>
    <footer>
    </footer>

</body>

</html>