
main {
    align-items: center;
    height: 20vh;
}
/*----NAVBAR----*/
.navbar-admin {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background:#FB7267;
}
.header-left {
  display: flex;
}

.nav{
  display:flex;
  font-size: 1rem;
  border-radius: 10px;
  padding: 8px 15px;
}
.nav a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.view {
  margin-right: 0.5rem;
  text-align: center;
}
/*----END NAVBAR----*/
.title-admin {
  margin-top: 2rem;
  text-align: center;
  border:rgb(131 130 130 / 51%) solid 0.5px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

 /*.form-element {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  
  .form-element label {
    color: #444444;
  }
  
  .form-element-multiple {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
  }*/
  
  .form-element-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2rem;
    margin-top: 2rem;
  }
  
  .form-button {
    border-radius: 10px;
    cursor: pointer;
    padding: 30px;
    margin-bottom: 2rem;
    background-color: #FB7267;
  }

  .form-button a {
    text-decoration: none;
    color: white;
  }
  .user {
    padding: 0 7.2px;
  }
  
  
  /*.flex-group {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }*/
  .form-button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
  }
  
  .form-button:active {
    background-color: #444444;
    color: #f0f1f2;
 }

/*-----MEDIAS QUERIES----*/

@media (max-width: 480px) {


}
/*----TABLET----*/
@media (min-width: 481px) {
  .form-button {
    margin-right: 1rem;

} 
/*----DESKTOP----*/
@media (min-width: 768px) {
    
}
    
/*----LARGE DESKTOP----*/
@media (min-width: 1200px) {


}
/*-----END MEDIAS QUERIES----*/