
main {
    align-items: center;
    height: 20vh;
}
header {
  background-color: #FB7267;
}
/*----NAVBAR----*/
.navbar-admin {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
}

.nav{
  display:flex;
  font-size: 1rem;
  border-radius: 10px;
  padding: 8px 15px;
}
.nav a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.nav i {
  color: #eee;
}
.fa-sign-out-alt{
  color: black;
}
.view {
  margin-right: 1rem;
  text-align: center;
  border-right: #EEEEEE 1px solid;
  padding: 2px 15px 2px 0px;
  color: #eee;
}
.view-login {
  margin-right: 1rem;
  text-align: center;
  color: #eee;
}
.login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*----END NAVBAR----*/
.title-admin {
  margin-top: 2rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  background: #fff;
  color: #7e7e7e;
  border-top: 3px solid #FB7267;
  cursor: pointer;
  padding: 5px;
  position: relative;
  -webkit-transition: background .4s;
  transition: background .4s;
  box-shadow: 0px 0px 5px 1px rgb(121, 121, 121);
}

 /*.form-element {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  
  .form-element label {
    color: #444444;
  }
  
  .form-element-multiple {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
  }*/
  
  .form-element-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2rem;
    margin-top: 2rem;
    
  }
  
  .form-button {
    border-radius: 10px;
    cursor: pointer;
    padding: 30px;
    margin: 1rem;
    background-color: #FB7267;
    box-shadow: 0px 0px 5px 1px rgb(121, 121, 121);
    
  }

  .form-button a {
    text-decoration: none;
    color: white;
  }
  .user {
    padding: 0 7.2px;
  }
  
  
  /*.flex-group {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }*/
  .form-button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
  }
  
  .form-button:active {
    background-color: #444444;
    color: #f0f1f2;
 }

/*-----MEDIAS QUERIES----*/

@media (max-width: 480px) {


}
/*----TABLET----*/
@media (min-width: 481px) {
  .form-button {
    margin-right: 1rem;

} 
/*----DESKTOP----*/
@media (min-width: 768px) {
    
}
    
/*----LARGE DESKTOP----*/
@media (min-width: 1200px) {


}
}
/*-----END MEDIAS QUERIES----*/