* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}
main {
  background-color: white;
}

/*-----CATEGORY BAR------*/
.category-bar {
  margin: 0 0 2rem 1rem;
}
.filter {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #f0f0f0;
    padding: 5px 3%;
    border-top: 1px solid #595959;
    border-bottom: 1px solid #595959;
    margin-bottom: 1rem;

}
.qtyProducts {
  display: flex;
}
.qtyProducts,
.buttonFilter {
    padding: 5px;
}
.order-by {
  text-decoration: none;
  color: #595959;
}
h3{
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.filter-category {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #595959;
  max-width:40%;
  padding: 10px;
}
.filter-category button {
  font-size: 1rem;
  padding: 5px;
  background: #FB7267;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 10px 10px 0px 0;
  width: 100%;
}
.title {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
}
.list{
  list-style: none;
  padding-bottom: 5px;
}
.deslizante1{
  overflow-y: auto;
  max-height: 250px;
}
.deslizante2{
  overflow-y:scroll;
  max-height: 150px;
}
.line {
  border: 2px solid #595959;
  max-width: 70%;
}
.filter-price{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.price {
  display:flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.price h5 {
  font-size: 1.5rem;
}

/*-----END CATEGORY BAR------*/

