* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}
/*-----CATEGORY BAR------*/
.category {
  position: fixed;
}
.category-one{
    float: left;
}
.category-top{    
    display: inline-block; 
    padding: 18px 16px; 
    text-transform: uppercase; 
    font-size: 13px; 
    border-bottom: 2px solid #FB7267; 
    color: rgb(0, 0, 0); 
    background-color: rgb(240, 240, 240);
    text-decoration: none;
    z-index: 1;
}
.subcategories {
    display: inline-block; 
    padding: 21px 16px; 
    text-transform: uppercase; 
    font-size: 13px; 
    position: fixed; 
    width: 100%; 
    overflow-x: auto; /*barra deslizante*/
    white-space: nowrap; /*buscar*/
    background-color: white;
}
.sub {
    text-decoration: none;
    color:#444;
    padding-right: 15px;
}
.filter {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    width: 90vw;
}
.qtyProducts,
.buttonFilter {
    padding: 5px;
}
/*-----END CATEGORY BAR------*/

/*-----LIST OF PRODUCTS------*/

.featured{
    margin: 7rem auto 0 auto;
    width: 90%;

  }
    .carrusel{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    
    .fondo{
      background-color: white;
      padding: 0px 25px 0px 25px;
      border-radius: 10px;
    }
    
    .articulos{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: 12px 15px 12px 15px;
      border-radius: 10px;
      border: solid 1px #bebebe;
      box-shadow: 2px 2px 3px 0px rgb(68 68 68 / 40%);
      margin-bottom: 15px;
    }
    
    
    .imagen-vino {
      width: 80px;
      height: 150px;
    }
    
    .nombre-vino{
      text-align: center;
      margin-top: 5px;
      color: #444444;
    }
    
    .precio-vino{
      margin-top: 5px;
      font-weight: bold;
    }
    
    .add-buttonn button {
      margin: 12px 0px 0px 0px;
      padding: 10px;
      background-color: #FB7267;
      color: white;
      border-radius: 10px;
      font-size: 1rem;
      border: none;
    }


/*-----END LIST OF PRODUCTS------*/
