
/****** BANNER ********/

.banner {
    height: auto;
    background-color: #fff;
}

/****** BANNER ********/

/****** SECONDARY LINKS ********/
  .secondary-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    background-color: #f0f1f2;
    border: #a78a7f solid 1px;
    padding: 5px;
  }
  
  .secondary-links div {
    display: flex;
    flex-direction: column;
  }
  
  .secondary-links div i {
    color: #a78a7f;
    font-size: 6vh;
    padding-right: 2vw;
    border-right: #a78a7f solid 1px;
  }
  
  .secondary-links h5,
  .secondary-links p {
    display: none;
    margin-left: 1vw;
    font-family: "Fira Sans Condensed", serif;
    text-align: left;
    color: #595959;
    font-size: 1rem;
  }
  
  .featured-title {
    color: #595959;
    text-align: center;
  }
  
  .relevant{
    height: none;
    background-color: #fff;
    padding: 0px 0px 375px 0px;
  }
  
  /****** SECONDARY LINKS ********/

  /*-----DESTACADOS------*/
  
  .carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .fondo{
    background-color: white;
    padding: 0px 25px 0px 25px;
    border-radius: 10px;
    background-color: white;
  }
  
  .articuloX{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 12px 15px 12px 15px;
    border-radius: 10px;
    border: solid 1px #bebebe;
    box-shadow: 2px 2px 3px 0px rgb(68 68 68 / 40%);
    margin-top: 10px;
}
  
  .imagen-vino{
    width: 80px;
    height: 150px;
  }
  
  .nombre-vino{
    text-align: center;
    margin-top: 5px;
    color: #595959;
  }
  
  .precio-vino{
    margin-top: 5px;
    font-weight: bold;
  }
  
  .add-buttonn button{
    margin: 12px 0px 0px 0px;
    padding: 10px;
    background-color: #FB7267;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
  }
  
  .fa-arrow-circle-right,
  .fa-arrow-circle-left{
    font-size: 30px;
    margin-top: 127px;
    color: #a78a7f;
  }
  
  /*---FINAL DESTACADOS---*/