
  /*------MAIN-----*/
  .login-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .login-top h2 {
    font-weight: lighter;
  }
  .login-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line {
    height: 2px;
    background-color: #A78A7F;
    margin: 0.3rem;
    width: 60vw;
  }
  .login-form {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
   
  .control-form {
    margin-bottom: 15px;
  }
  .control-form label {
    margin-bottom: 5px;
    display: block;
    position: relative;
  }
  .control {
    width: 70vw;
    display: block;
    padding: 5px;
    border:#a4161a 1px solid;
    border-radius: 5px;
  }
  .fa-eye-slash {
    position: absolute;
    right: 5px;
    top: 25px;
  }
  .remember-password label {
    margin-left: 5px;
  }
  .login-button {
      display: flex;
      justify-content: center;
  }
  .login-button button {
      padding: 0.5rem;
      background-color: #a4161a;
      color: white;
      border-radius: 10px;
      font-size: 1rem;
  }
  .account {
      text-align: center;
      margin-bottom: 1rem;
      text-decoration: none;
      color: black;
  }
 .end {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .end a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
 }
/*------END MAIN------*/
