* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
    box-sizing: border-box;
  }
  
  main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  header {
    position: sticky;
    top: 0;
  }
  
  /**********************************************************************/
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #444444;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 90%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #f0f1f2;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #a78a7f;
    font-size: 1.6rem;
    transition-duration: 0.1s;
  }
  
  .sidenav .closebtn:hover {
    color: #a78a7f;
    font-size: 3.3rem;
    transition-duration: 0.1s;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
  }
  /**********************************************************************/
  
  .navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* gap : 5px; */
    padding: 5px;
    background-color: #a4161a;
    color: white;
    height: 48px;
    font-size: 1.5rem;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
  }
  
  .btn-menu {
    text-align: center;
    margin-right: 10px;
  }
  
  .logo-texto a {
    display: none;
    color: white;
    font-family: "Crete Round", serif;
    font-size: 1.6rem;
    text-decoration: none;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .logo img {
    padding: 10px, 0px;
    height: 1.6rem;
  }
  
  .search-box-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .search-box {
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    margin: 6px 5px;
    padding: 5px 5px;
    flex-grow: 1;
    background-color: #f0f1f2;
  }
  
  .search-box input {
    background-color: #f0f1f2;
    border: none;
    width: 100%;
    font-family: "Fira Sans Extra Condensed", serif;
    font-size: 1rem;
  }
  
  /* Quito el recuadro del input al recibir el enfoque */
  .search-box input:focus {
    outline: 0;
  }
  
  .search-box .button-search {
    border: none;
    background: transparent;
  }
  
  .search-box .button-search i {
    color: #7c7c7c;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-user {
    width: 30px;
    text-align: center;
  }
  
  .btn-cart {
    display: flex;
    width: 30px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  
  .cart-qty {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    color: #444444;
    background-color: white;
    border: 1px solid #a4161a;
    border-radius: 50%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 700;
    /* padding: 2px; */
    text-align: center;
    line-height: 12px;
  }
  
  .cart-qty:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .navbar .fas {
    color: white;
  }
  
  .navbar .fas:hover {
    transform: scale(1.08);
    transition-duration: 0.1s;
  }
  
  .categories {
    display: none;
    padding: 5px;
    font-weight: 700;
    background-color: #f0f1f2;
    /* display: flex; */
    justify-content: space-around;
    list-style-type: none;
  }
  
  .categories li a {
    color: #6b6b6b;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .categories li a:hover {
    color: #a4161a;
    border-bottom: #a4161a 2px solid;
    transition-duration: 0.1s;
  }
  
  .banner {
    height: auto;
    background-color: #f0f1f2;
  }
  
  .secondary-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    background-color: #f0f1f2;
    border: #a78a7f solid 1px;
    padding: 5px;
  }
  
  .secondary-links div {
    display: flex;
    flex-direction: column;
  }
  
  .secondary-links div i {
    color: #a78a7f;
    font-size: 6vh;
    padding-right: 2vw;
    border-right: #a78a7f solid 1px;
  }
  
  .secondary-links h5,
  .secondary-links p {
    display: none;
    margin-left: 1vw;
    font-family: "Fira Sans Condensed", serif;
    text-align: left;
    color: #444444;
    font-size: 1rem;
  }
  
  .featured-title {
    color: #444444;
    text-align: center;
  }
  
  .featured {
    height: 20vh;
    background-color: #f0f1f2;
    padding: 0px 0px 375px 0px;
  }
  /*------END HEADER-----*/
  /*------MAIN-----*/
  .login-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .login-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .login-top h2 {
    font-weight: lighter;
  }
  
  .line {
    height: 2px;
    background-color: #A78A7F;
    margin: 0.3rem;
    width: 60vw;
  }
  .login-form {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .control-form {
    margin-bottom: 15px;
  }
  .control-form label {
    margin-bottom: 5px;
    display: block;
    position: relative;
  }
  .control {
    width: 70vw;
    display: block;
    padding: 5px;
    border:#a4161a 1px solid;
    border-radius: 5px;
  }
  .fa-eye-slash {
    position: absolute;
    right: 5px;
    top: 25px;
  }
  .remember-password label {
    margin-left: 5px;
  }
  .login-button {
      display: flex;
      justify-content: center;
  }
  .login-button button {
      padding: 0.5rem;
      background-color: #a4161a;
      color: white;
      border-radius: 10px;
      font-size: 1rem;
  }
  .account {
      text-align: center;
      margin-bottom: 1rem;
      text-decoration: none;
      color: black;
  }
 .end {
    font-size: 13px;
    margin-bottom: 10px;
  }
.end a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
}

  /*------END MAIN------*/
  
  /*------FOOTER------*/
  /*bloque newsletter*/
  .newsletter-box {
      width: 100vw;
      display: flex;
      flex-direction: column;
      background-color: #F0F1F2;
      text-align: center;
      border: 1px solid black;
  }
  
  .newsletter-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  /*barra tu mail*/
  .mail-box { 
      display: flex;
      width: 80vw;
  }
  /*barra por dentro*/
  .mail-box input {
      width: 80vw;
      height: 2.5rem;
      border-radius: 10px;
      text-align: left;
      font-size: 1rem;
      padding-left: 4px;
  }
  
  /*boton suscribirse*/
  .mail-button button {
      margin: 5px 0px 5px -15px;
      padding: 10px;
      background-color: #a4161a;
      color: white;
      border-radius: 10px;
      font-size: 1rem;
  }
  .newsletter-text h2 {
      color:black;
      text-align: center;
      margin:1rem;
     font-size: 1.3rem;
  }
  .footer {
      background-color:#444444;
  }
  .footer-boxes {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem;
  }
  .footer-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .whatsapp-icon, .scrollup-icon {
      color: white;
      font-size: 3.5rem;
      margin: 0.5rem 1rem;
  }
  
  .followus {
      margin: 0 0 2rem 0;
  }
  .followus h2 {
      color:white;
      text-align: center;
      font-size: 1.3rem;
      font-weight: lighter;
  }
  
  .contact h2,
  .company h2 {
      color:white;
      text-align: center;
      font-size: 1.3rem;
      font-weight: lighter;
  }
  .contact,
  .company {
      margin: 2rem 0;
  }
  .social-icons {
      display:flex;
      flex-direction: row;
      justify-content: center;
      font-size: 1.5rem;
  }
  
  .contact-info,
  .company-info,
  .regret-button {
      color: #F0F1F2;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      margin: 0.5rem 0rem;
  }
  .address,
  .whatsapp,
  .phone,
  .help-questions,
  .terms,
  .map {
      padding: 2px;
      color:white;
  }
  .contact-info h4,
  .company-info h4 {
      color:white;
      font-weight: lighter;
      text-decoration: none;/*no lo toma*/
  }
  .fab {
      color: white;
      margin: 0.2rem;
      
  }
  
  .scrollup-icon {
      font-weight: 400px;
  }
  
  .regret-button button {
      background-color: #E7D7C1;
      padding: 10px;
      border-radius: 10px;
      font-size: 1rem;
  }
  .safe-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 2.5rem;
      color:white;
  }
  .qr-icon,
  .ssl-icon {
      padding: 0.2rem;
      margin-bottom: 1rem;
  }
  /*------END FOOTER------*/
  
  /*-----MEDIAS QUERIES----*/
  /*----MOBILE----*/
  /* Media query para suavizar el cambio de tamaño de la search-box */
  @media (max-width: 480px) {
    .navbar-right {
      width: 20%;
      transition-duration: 500ms;
    }
  }
  /*----TABLET----*/
  @media (min-width: 481px) {
    .articulo3 {
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #cccc;
      padding: 12px 15px 12px 15px;
      border-radius: 10px;
      width: 180px;
      border: solid 1px #bebebe;
      box-shadow: 2px 2px 3px 0px rgb(68 68 68 / 40%);
    }
  
    /* Media query para suavizar el cambio de tamaño de la search-box */
    .navbar-right {
      width: 12%;
      transition-duration: 500ms;
    }
    .line {
      width: 35vw;
    }
    .control {
      width: 50vw;
    }
    .captcha {
      width: 40vw;
    }
  }
    
  /*----DESKTOP----*/
  @media (min-width: 769px) {
      .categories {
        display: flex;
      }
    
      .logo-texto a {
        display: contents;
      }
    
      .btn-menu {
        display: none;
      }
    
      .secondary-links h5,
      .secondary-links p {
        display: flex;
      }
    
      .price-qty {
        flex-direction: row;
        width: 40%;
      }
    
      .unit-price,
      .qty-subtotal {
        margin: auto;
      }
      .qty-selector {
        order: -1;
        justify-content: space-between;
        min-width: 40%;
      }
    
      .cart-footer {
        flex-direction: row;
        justify-content: space-between;
      }
    
      .cart-buttons {
        gap: 0;
        margin-top: 0;
        width: 70%;
        flex-direction: row;
        order: -1;
      }
      .cart-button {
        width: 45%;
      }
      .btn-back {
        order: -1;
      }
      .cart-footer-total {
        align-items: center;
      }
      .contact,
      .company {
        margin: 0rem;
      }
      .articulo4 {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #cccc;
        padding: 12px 15px 12px 15px;
        border-radius: 10px;
        width: 180px;
        border: solid 1px #bebebe;
        box-shadow: 2px 2px 3px 0px rgb(68 68 68 / 40%);
      }
      .search-box {
        max-width: 250px;
      }
    
      .search-box-container {
        justify-content: flex-end;
      }
      .mail-box {
        display: flex;
        width: 50vw;
        justify-content: center;
        align-items: center;
      }
      .line {
        width: 25vw;
      }
      .control {
        width: 35vw;
      }
      .captcha {
        width: 30vw;
      }
      .newsletter-form {
        width: 100vw;
        flex-direction: row;
        margin-bottom: 0.5rem;
        justify-content: center;
        align-items: center;
      }
      .footer-icons {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -3rem;
      }
      .footer {
        display: flex;
        flex-direction: column-reverse;
      }
      .footer-boxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 2rem;
      }
      .footer-box1 {
        order: 1;
        align-self: flex-start;
      }
  
    }
  
  /*----LARGE DESKTOP----*/
  @media (min-width: 1200px) {
    .line {
      width: 20vw;
    }
    .control {
      width: 30vw;
    }
    .captcha {
      width: 20vw;
    }
  }
  /*-----END MEDIAS QUERIES----*/
  
    