
  /*------MAIN-----*/
  .login-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .login-top h2 {
    font-weight: lighter;
  }
  .login-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .line {
    height: 2px;
    background-color: #A78A7F;
    margin: 0.3rem;
    width: 60vw;
  }
  .login-form {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
   
  .control-form {
    margin-bottom: 15px;
  }
  .control-form label {
    margin-bottom: 5px;
    display: block;
    position: relative;
  }
  .control {
    width: 70vw;
    display: block;
    padding: 5px;
    border:#FB7267 1px solid;
    border-radius: 5px;
  }
  .fa-eye-slash {
    position: absolute;
    right: 5px;
    top: 25px;
  }
  .remember-password label {
    margin-left: 5px;
  }
  .login-button {
      display: flex;
      justify-content: center;
  }
  .login-button button {
      padding: 0.5rem;
      background-color: #FB7267;
      color: white;
      border-radius: 10px;
      font-size: 1rem;
      border:none;
  }
  .admin-button {
    display: flex;
    justify-content: center;
}
  .admin-button button {
    padding: 0.5rem;
    background-color: #FB7267;
    color: white;
    border-radius: 10px;
    font-size: 0.7rem;
    margin-bottom: 5px;
    border:none;
}

  .account {
      text-align: center;
      margin-bottom: 1rem;
      text-decoration: none;
      color: black;
  }
 .end {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .end a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
 }

 .danger{
  color: rgb(214, 0, 0);
  font-size: 12px;
}

.form-button {
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 13px;
  cursor: pointer;
  width: 100%;
  /* max-width: 200px; */
  margin: 10px auto;
  text-decoration: none;
  border:none;
}

.form-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

.form-button:active {
  background-color: #444444;
  color: #f0f1f2;
}

.form-button-primary {
  background-color: #FB7267;
  color: white;
  outline: none;
}

.form-button-secondary {
  background-color: #f0f1f2;
  color: #FB7267;
  outline: none;
  font-weight: 700;
}

/*------END MAIN------*/
