/*-----MEDIAS QUERIES----*/
/*----MOBILE----*/
/* Media query para suavizar el cambio de tamaño de la search-box */
@media (max-width: 480px) {
  .navbar {
    margin: 0 15px;
  }
      .filter-category {
        max-width:40%;
      }


/*-----DESTACADOS-----*/
    
/*----FINAL DESTACADOS----*/


    }
    /*----TABLET----*/
    @media (min-width: 481px) {

      .filter-category {
        max-width:20%;
      }
    .mail-box {
      width: 70vw;
    }
/*-----DESTACADOS-----*/
     .articuloX{
        width: 45%;
    }

     .carousel{
        justify-content: center;
    }
/*----FINAL DESTACADOS----*/

    /* Media query para suavizar el cambio de tamaño de la search-box */

      .line {
      width: 35vw;
      }
      .control, .controls {
      width: 50vw;
      }
      .captcha {
      width: 40vw;
      }

      .mail-box {
        width: 70vw;

      }

      /*---CATEGORY LIST OF PRODUCTS----*/

      .carrusel{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;
        }
        .articulos{
          width: 48%;
        }

      /*---END CATEGORY LIST OF PRODUCTS----*/
      .title-top {
        margin-top: 2rem;
      }
      .navbar {
        margin: 0 15px;
      }
    }
    
    /*----DESKTOP----*/
    @media (min-width: 768px) {
      main {
        padding: 0 65px;
      }
      .navbar-admin {
        margin: 0rem 3rem;
      }
      .title-admin {
        width: 80%;
      }
      .navbar-search {
        order:1;
      }
      .filter {
        display:none;
      }
      .filter-category {
        max-width:15%;
      }
      .categories {
        display: flex;
      }
    
      .logo a {
        display:contents;
        background-color:#595959;
      }
    
      .btn-menu {
        display: none;
      }
    
      .secondary-links h5,
      .secondary-links p {
        display: flex;
      }
    
      .price-qty {
        flex-direction: row;
        width: 40%;
      }
    
      .unit-price,
      .qty-subtotal {
        margin: auto;
      }
      .qty-selector {
        order: -1;
        justify-content: space-between;
        min-width: 40%;
      }
    
      .cart-footer {
        flex-direction: row;
        justify-content: space-between;
      }
    
      .cart-buttons {
        gap: 0;
        margin-top: 0;
        width: 70%;
        flex-direction: row;
        order: -1;
      }
      .cart-button {
        width: 45%;
      }
      .btn-back {
        order: -1;
      }
      .cart-footer-total {
        align-items: center;
      }
      
      .contact,
      .company {
        margin: 0rem;
      }
      
      .search-box {
        max-width: 250px;
      }
    
      .search-box-container {
        justify-content: flex-end;
      }
      .line {
        width: 25vw;
      }
      .control, .controls {
        width: 35vw;
      }
      .captcha {
        width: 30vw;
      }
      .mail-box {
        width: 40vw;
      }
      .newsletter-box {
        flex-direction: row;
        justify-content: space-around;
        width:95%;
      }
      .footer-parts {
        display: flex;
        justify-content: space-between;
        width: 93%;
      }
      .navbar-middle {
        flex-direction: row-reverse;
      }
      .control-form-users input {
        margin: -20px;
    }

/*----DESTACADOS----*/

.articuloX{
  width: 20%;
}

.carousel{
  justify-content: center;
}

.relevant{
  width: 90%;
}

/*----FINAL DESTACADOS----*/

/*---PRODUCT DETAIL MEDIA QUERIES---*/

.articulo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.fondo-imagen{
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.imagen-vino-portada{
  display: flex;
  flex-direction: column;
  width: auto;
}

.info-vino{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 50%;
}

.featured{
  display: block;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}
/*--CIERRE PRODUCT DETAIL MEDIA QUERIES--*/


/*---CATEGORY LIST OF PRODUCTS----*/
.filter {
  margin-top: 1rem;
}
.add{
  margin-top: -39px;
}

.articulos{
  width: 24%;
}
.category {
  position:none;
}



.add-buttonn{
  display: flex;
  gap: 5px;
}
/*---END CATEGORY LIST OF PRODUCTS----*/
.newsletter-form {
  margin-bottom: 0.1rem;
  margin-right: 1rem;
}
}

    
    /*----LARGE DESKTOP----*/
    @media (min-width: 1200px) {
    .line {
      width: 20vw;
    }
    .control, .controls {
      width: 30vw;
    }
    .captcha {
      width: 20vw;
    }
    .control-form-users input {
      margin: -20px;
    }
    .navbar {
      margin: 0 62px;
    }
    .title-admin {
      width: 60%;
    }
    }
    
    /*-----END MEDIAS QUERIES----*/