/*------MAIN-----*/
main {
  z-index: 1;
}
.products-edit-main{
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin-bottom: 10px;
}

.products-edit-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.products-edit-form h4 {

  padding-top: 5px;
  color:#444444;

}

.products-edit-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.products-edit-top h2 {
  /* font-weight: lighter; */
  color:#444444;
}

.title-line {
  height: 2px;
  background-color: #A78A7F;
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
}

.form-element {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form-element label {
  color: #444444;
}

.form-element input[type="text"], input[type="number"], textarea {
  font-size: 1rem;
  border:#a4161a 1px solid;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

input[type="checkbox"]  {
  transform : scale(1.2);
  font-size: 1rem;
  color: #a4161a;
  margin: 10px 5px;
}

.form-element-multiple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}

.form-element-group {
  border:#a4161a 1px solid;
  border-radius: 10px;
  padding: 5px;
}

.flex-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.edit-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
}

.form-element textarea, input[type="text"] {
  width: 100%;
}

.form-element input:focus,
textarea:focus {
  border:#a4161a 2px solid;
}

.form-button {
  border: 1px solid #444444;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  /* max-width: 200px; */
  margin: 10px auto;
}

.form-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

.form-button:active {
  background-color: #444444;
  color: #f0f1f2;
}

.form-button-primary {
  background-color: #a4161a;
  color: white;
  outline: none;
}

.form-button-secondary {
  background-color: #f0f1f2;
  color: #a4161a;
  outline: none;
  font-weight: 700;
}

input::-webkit-file-upload-button {
  background-color: #a4161a;
  color: #f0f1f2;
  outline: none;
  border: 1px solid #444444;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin-right: 5px;

}

input::-webkit-file-upload-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

/*------END MAIN------*/
