* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans';
    box-sizing: border-box;
}


main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

header {
    position: sticky;
    top: 0;
}

/**********************************************************************/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #444444; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 90%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color:#F0F1F2;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color:#A78A7F;
    font-size: 1.6rem;
    transition-duration: 0.1s;
  }

  .sidenav .closebtn:hover {
    color:#A78A7F;
    font-size: 3.3rem;
    transition-duration: 0.1s;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
  }
/**********************************************************************/
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 5px;
    padding : 5px;
    background-color: #A4161A;
    color: white;
    height: 6vh;
    font-size: 1.5rem;
}

.btn-menu {
    width: 30px;
    text-align: center;
    flex-shrink: 1;
}

.logo-texto a{
    display: none;
    color: white;
    font-family: 'Crete Round', serif;
    font-size: 1.6rem;
    text-decoration: none;
}

.logo img{
    padding-left: 5px;
    height: 1.6rem;
}

.search-box {
    display:flex;
    border-radius: 10px;
    margin: 5px 5px;
    padding: 5px 5px;
    flex-grow: 1;
    background-color: #F0F1F2;
}

.search-box input{
    background-color: #F0F1F2;
    border: none;
    width: 100%;
    font-family: 'Fira Sans Extra Condensed', serif;
    font-size: 1rem;    
}

/* Quito el recuadro del input al recibir el enfoque */
.search-box input:focus{
    outline: 0;
}

.search-box .button-search {
    border: none;
    background: transparent;
}

.search-box .button-search i {
    color: #7c7c7c;    
    font-size: 1rem;
    cursor:pointer;
}

.btn-user {
    width: 30px;    
    text-align: center;
    flex-shrink: 1;
}

.btn-cart {
    width: 30px;
    text-align: center;
    flex-shrink: 1;
}

.navbar .fas {
    color: white;
}

.navbar .fas:hover {
    transform: scale(1.08);
    transition-duration: 0.1s;    
}

.categories {
    display: none;
    padding: 5px;
    font-weight:700;
    background-color:#F0F1F2;
    /* display: flex; */
    justify-content: space-around;
    list-style-type: none;
}

.categories li a{
    color: #6b6b6b;
    margin-left: 5px;
    text-decoration: none;
}

.categories li a:hover {
    color: #A4161A;
    border-bottom: #A4161A 2px solid;
    transition-duration: 0.1s;
}

.banner {
    height: auto;
    background-color: #F0F1F2;
}

.secondary-links {
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 8vh;
    background-color: #F0F1F2;
    border: #A78A7F solid 1px;
}

.secondary-links div {
    display: flex;
    flex-direction: column;
}

.secondary-links div i {
    color: #A78A7F;
    font-size: 6vh;
    padding-right: 2vw;
    border-right: #A78A7F solid 1px;
}

.secondary-links h5,
.secondary-links p {
    display: none;
    margin-left: 1vw;
    font-family: 'Fira Sans Condensed', serif;
    text-align: left;
    color: #444444;
    font-size: 1rem;
}


.featured-title {
    color: #444444;
    text-align: center;
}

.featured {
    height: 20vh;
    background-color: #F0F1F2;
    padding: 0px 0px 375px 0px;
}

/*---------PRODUCT DETAIL---------*/

.articulo{
    border: solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    height: 655px;
}

.imagen-vino{
    width: 147px;
    height: 290px;
    display: flex;
    flex-direction: column;
}

.imagenes-chicas{
    border: blue solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.vinitos{
    width: 20%;
    border-radius: 10px;
}

.fa-arrow-circle-left{
    font-size: 25px;
    margin-left: 10px;
    color: #6b6b6b;
}

.fa-arrow-circle-right{
    font-size: 25px;
    margin-right: 10px;
    color: #6b6b6b;
}

.info-vino{
    border: solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nombre{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.codigo{
    font-weight: bold;
    font-size: 18px;
}

.descripcion{
    background-color: #bebebe;
    text-align: center;
    border-radius: 10px;
    padding: 8px 10px 8px 10px;
}

.precio{
    font-size: 24px;
    font-weight: bold;
}

.carrito{
    border: darkmagenta solid;
    font-size: 190%;
    display: flex;
    justify-content: center;
    color: #6b6b6b;
}

.fa-square{
    margin: 0px 8px 0px 8px;
}

.add-buttonn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-buttonn button {
    margin: 8px 0px 0px 0px;
    padding: 10px;
    background-color: #a4161a;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

/*--------CIERRE PRODUCT DETAIL------*/


@media (min-width: 768px) {
    .categories {
        display: flex;
      }
  
    .logo-texto a{
        display:contents;
    }

    .btn-menu {
      display: none;
    }

    .secondary-links h5,
    .secondary-links p {
        display: flex;
    }

    .price-qty {
        flex-direction: row;
        width: 40%;
    }

    .unit-price,
    .qty-subtotal {
        margin:auto;
    }
    .qty-selector {
        order:-1;
        justify-content: space-between;
        min-width: 40%;
    }

    .cart-footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-buttons {
        gap: 0;
        margin-top: 0;
        width: 70%;
        flex-direction: row;
        order: -1;
    }
    .cart-button {
        width: 45%;
    }
    .btn-back {
        order: -1;
    }
    .cart-footer-total {
        align-items: center;
    }
    .footer-boxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 3rem;
    }
    .footer-box1 {
        order:1;
    }
    .contact,
    .company {
    margin: 0rem;
}

.articulo{
    display: flex;
    flex-direction: row;
}

.imagen-vino{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.imagenes-chicas{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

}

@media (max-width: 950px){
    .articulo3, .articulo4{
        display: none;
    }
}
/*@media (min-width:481PX) {
    .newsletter-form {
        width: 100VW;
        flex-direction: row;
        margin: 10px;
    }

}*/