/****** PRODUCT CART ********/
main {
  padding: 0 45px;
}
.cart-header {
  margin: 1rem 0rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  background: #fff;
  color: #7e7e7e;
  border-top: 3px solid #FB7267;
  cursor: pointer;
  padding: 5px;
  position: relative;
  -webkit-transition: background .4s;
  transition: background .4s;
  box-shadow: 0px 0px 5px 1px rgb(121 121 121);
  }
  .cart-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #444444;
    
  }
  .cart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid red; */
    padding: 1%;
  }
  
  .cart-item {
    padding-bottom: 10px;
    /* border-bottom: 1px solid #bebebe; */
    background-color: #f0f1f2;
    border: solid 1px #bebebe;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
  }
  .cart-item:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
  .cart-item-inner {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
  }
  
  .cart-product-name {
    font-size: 1rem;
    margin: 5px 0px 5px 10px;
    border-radius: 5px;
  }
  
  .cart-product-name a {
    color: #444444;
    text-decoration: none;
  }
  
  .cart-product-name a:hover {
    font-size: 1.05rem;
    font-weight: 700;
  }
  
  .cart-product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 125px;
    height: 125px;
    border: 1px solid #bebebe;
    border-radius: 10px;
  }
  .cart-product-img img {
    height: 110px;
  }
  
  .cart-product-img img:hover {
    transform: scale(1.1);
  }
  
  .price-qty {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 30%;
  }
  
  .unit-price {
    padding: 5px 4px 4px 4px;
    background-color: white;
    border: 1px solid #FB7267;
    border-radius: 5px;
    text-align: right;
    font-size: 1rem;
    color: #444444;
  }
  
  .subtotal {
    padding: 6px 4px 4px 4px;
    background-color: white;
    border: 1px solid #FB7267;
    border-radius: 5px;
    text-align: right;
    font-size: 1.1rem;
    color: #444444;
  }
  
  .qty-selector {
    display: flex;
    justify-content: space-between;
  }
  
  .fas:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .qty-minus {
    margin: auto;
    font-size: 1.5rem;
    color: #6b6b6b;
  }
  .qty-plus {
    margin: auto;
    font-size: 1.5rem;
    color: #6b6b6b;
  }
  .trash {
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    color: #FB7267;
  }
  .qty {
    font-size: 1.5rem;
    color: #444444;
    background-color: white;
    min-width: 2rem;
    text-align: center;
    margin: auto;
    border: 1px solid #FB7267;
    border-radius: 5px;
  }
  
  .cart-footer {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px auto;
    gap: 10px;
    font-size: 1.5rem;
  }
  
  .cart-footer-total {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 2%;
    font-size: 1rem;
  }
  
  .cart-total {
    font-weight: 700;
    color: #FB7267;
  }
  
  .cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
    gap: 10px;
  }
  

  .button {
    background-color: #FB7267;
    color: white;
    outline: none;
    font-size: 0.7rem;
    padding: 5px;
    border-radius: 5px;
    max-width: 5rem; 
    cursor: pointer;
    border:none;
  }
  .button:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
  }
  .button:active {
    background-color: #444444;
    color: #f0f1f2;
  }

  
/****** PRODUCT CART ********/