.main{
    width: 90%;
}

.featured-title {
    color: #444444;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
}

.featured {
    height: 20vh;
    padding: 0px 0px 375px 0px;
    display: none;
    margin: 10px 0px 15px 0px;
    border: 1px solid rgb(180, 180, 180);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 40px;
}

/*---------PRODUCT DETAIL---------*/

.articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    /*border: solid yellow;*/
}

.fondo-imagen{
    /*border:turquoise solid;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-vino-portada{
    height: 325px;
}

.info-vino{
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nombre{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    /* border: violet solid; */
}

.codigo{
    font-weight: bold;
    font-size: 18px;
    margin-top: 6px;
   /* border: violet solid */
}

.descripcion{
    background-color: #f5f5f5;
    color: #000;
    text-align: center;
    display:inline-block;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    margin-top: 15px;
    margin-right: 20%;
    margin-left: 20%;
    border: 1px solid #DDD
}

.precio{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
   /* border: violet solid */
}

.carrito{
   /* border: darkmagenta solid; */
    font-size: 190%;
    display: flex;
    justify-content: center;
    color: #6b6b6b;
    margin-top: 20px;
}

.fa-square{
    margin: 0px 8px 0px 8px;
    font-size: 40px;
}

.fa-minus-circle, .fa-plus-circle{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.add-buttonn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-buttonn button {
    margin: 8px 0px 0px 0px;
    padding: 10px;
    background-color: #FB7267;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
}

/*--------CIERRE PRODUCT DETAIL------*/

/*---P.RELACIONADO---*/

.relations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items : flex-start;
    gap: 30px;
}

.fondo{
    background-color: white;
    padding: 0px 25px 0px 25px;
    border-radius: 10px;
}

.articulo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 340px;
    width: 100%;
    background-color: #fff;
    padding: 12px 15px 12px 15px;
    border-radius: 10px;
    border: solid 1px #bebebe;
    box-shadow: 2px 2px 3px 0px rgb(68 68 68 / 40%);
}

.imagen-vino{
    width: 80px;
    height: 150px;
}

.nombre-vino{
    text-align: center;
    margin-top: 5px;
    color: #444444;
}

.precio-vino{
    margin-top: 5px;
    font-weight: bold;
}

.add-buttonn button{
    margin: 12px 0px 0px 0px;
    padding: 10px;
    background-color: #FB7267;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
}


/*---CIERRE P.RELACIONADO---*/
