* {
  box-sizing: border-box;
  
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eeee;
}
header {
background-color: #FB7267;
}
main {
  padding: 0 45px;
}
.admin {
background-color: #eee;
}
/*----NAVBAR----*/
.navbar-admin {
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
}
.header-left {
display: flex;
}

.nav{
display:flex;
font-size: 1rem;
border-radius: 10px;
padding: 8px 15px;
}
.nav a {
text-decoration: none;
color: white;
text-align: center;
}
.view {
margin-right: 1rem;
text-align: center;
border-right: #EEEEEE 1px solid;
padding: 2px 15px 2px 0px;
}
/*----END NAVBAR----*/
.title-admin {
  margin-top: 2rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  background: #fff;
  color: #7e7e7e;
  border-top: 3px solid #FB7267;
  cursor: pointer;
  padding: 5px;
  position: relative;
  -webkit-transition: background .4s;
  transition: background .4s;
  box-shadow: 0px 0px 5px 1px rgb(121 121 121);

}
.sub {
  text-decoration: none;
  color:#444;
  padding-right: 15px;
}
.filter {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  width: 90vw;
}


.products-add-top h2 {
  /* font-weight: lighter; */
  color:#444444;
}

.form-element {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.form-element-img {
  margin: 10px 0px 0px 0px;
}
h4 {
  font-weight: lighter;
}

.form-element label {
  color: #444444;
  foint
}

.form-element input[type="text"], input[type="number"], select, textarea {
  font-size: 1rem;
  border: 1px #444444 solid;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.form-element input[type="color"] {
  font-size: 1rem;
  padding: 0px;
  width: 10%;
  border-radius: 5px;
  outline: none;
}

input[type="checkbox"]  {
  transform : scale(1.2);
  font-size: 1rem;
  color: #FB7267;
  margin: 10px 5px;
}

.form-element-multiple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}

.form-element-group {
  border:#444 1px solid;
  border-radius: 10px;
  padding: 5px;
}

.flex-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;

}


.form-element input:focus,
textarea:focus {
  border:#FB7267 2px solid;
}

.edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;  
  margin: 1rem;
}

.form-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

.form-button:active {
  background-color: #444444;
  color: #f0f1f2;
}

.form-button-primary {
  background-color: #FB7267;
  color: white;
  outline: none;
  margin-left: 5px;
  padding: 1rem;
  border-radius: 5px;
  border:none;
}

.form-button-secondary {
  background-color: #ffffff;
  color: #FB7267;
  outline: none;
  font-weight: 700;
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5px;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  border: #FB7267 1px solid;
}

input::-webkit-file-upload-button {
  background-color: #FB7267;
  color: #f0f1f2;
  outline: none;
  border: 1px solid #444444;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin-right: 5px;

}

input::-webkit-file-upload-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

.ts-control {
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}
.errores{
  color: red;
  font-size: small;
}
.danger{
  color: rgb(214, 0, 0);
  font-size: 12px;
}


/*------END MAIN------*/
