/*------MAIN-----*/
main {
  z-index: 1;
}
.admin {
  background-color: #eee;
}
.header-left {
  display: flex;

}
.navbar {
  display: flex;
  flex-wrap: wrap;
  background:#FB7267;

}
.nav-left{
  color:white;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
  margin-left: 0.5rem;
}
.nav-right {
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
  
}
.products-add-main{
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin-bottom: 10px;
}

.products-add-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.products-add-form h4 {

  padding-top: 5px;
  color:#444444;

}

.title-admin {
  margin-top: 2rem;
  text-align: center;
  border:rgb(131 130 130 / 51%) solid 0.5px;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.products-add-top h2 {
  /* font-weight: lighter; */
  color:#444444;
}

.form-element {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form-element label {
  color: #444444;
}

.form-element input[type="text"], input[type="number"], textarea {
  font-size: 1rem;
  border: 1px #444444 solid;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.form-element input[type="color"] {
  font-size: 1rem;
  padding: 0px;
  width: 10%;
  border-radius: 5px;
  outline: none;
}

input[type="checkbox"]  {
  transform : scale(1.2);
  font-size: 1rem;
  color: #FB7267;
  margin: 10px 5px;
}

.form-element-multiple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}

.form-element-group {
  border:#444 1px solid;
  border-radius: 10px;
  padding: 5px;
}

.flex-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}


.form-element input:focus,
textarea:focus {
  border:#FB7267 2px solid;
}

.edit-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;  
}

.form-button {
  border: 1px solid #444444;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  /* max-width: 200px; */
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
}

.form-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

.form-button:active {
  background-color: #444444;
  color: #f0f1f2;
}

.form-button-primary {
  background-color: #FB7267;
  color: white;
  outline: none;
  margin-right: 5px;
}

.form-button-secondary {
  background-color: #f0f1f2;
  color: #FB7267;
  outline: none;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5px;
}

input::-webkit-file-upload-button {
  background-color: #FB7267;
  color: #f0f1f2;
  outline: none;
  border: 1px solid #444444;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin-right: 5px;

}

input::-webkit-file-upload-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

.ts-control {
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}
.errores{
  color: red;
  font-size: small;
}
.danger{
  color: rgb(214, 0, 0);
  font-size: 12px;
}


/*------END MAIN------*/
