* {
  box-sizing: border-box;
  
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eeee;
}
header {
background-color: #FB7267;
}
main {
  padding: 0 45px;
}
.admin {
background-color: #eee;
}
/*----NAVBAR----*/
.navbar-admin {
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
}
.header-left {
display: flex;
}

.nav{
display:flex;
font-size: 1rem;
border-radius: 10px;
padding: 8px 15px;
}
.nav a {
text-decoration: none;
color: white;
text-align: center;
}
.view {
margin-right: 1rem;
text-align: center;
border-right: #EEEEEE 1px solid;
padding: 2px 15px 2px 0px;
}
/*----END NAVBAR----*/
.title-admin {
  margin-top: 2rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  background: #fff;
  color: #7e7e7e;
  border-top: 3px solid #FB7267;
  cursor: pointer;
  padding: 5px;
  position: relative;
  -webkit-transition: background .4s;
  transition: background .4s;
  box-shadow: 0px 0px 5px 1px rgb(121 121 121);

}
.products-edit-main{
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin-bottom: 10px;
}

.products-edit-form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.products-edit-form h4 {

  padding-top: 5px;
  color:#444444;

}

.products-edit-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.products-edit-top h2 {
  /* font-weight: lighter; */
  color:#444444;
}

.title-line {
  height: 2px;
  background-color: #A78A7F;
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
}

.form-element {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form-element label {
  color: #444444;
}

.form-element input[type="text"], input[type="number"], select , textarea {
  font-size: 1rem;
  border:#FB7267 1px solid;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.form-element input[type="color"] {
  font-size: 1rem;
  padding: 0px;
  width: 10%;
  border-radius: 5px;
  outline: none;
}

input[type="checkbox"]  {
  transform : scale(1.2);
  font-size: 1rem;
  color: #FB7267;
  margin: 10px 5px;
}

.form-element-multiple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}

.form-element-group {
  border:#FB7267 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.flex-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.edit-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 5px;
}


.form-element input:focus,
textarea:focus {
  border:#FB7267 2px solid;
}

.form-button {
  border: 1px solid #444444;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  width: 30%;
  /* max-width: 200px; */
  margin: 10px auto;
  text-decoration: none;
  text-align: center;
}

.form-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

.form-button:active {
  background-color: #444444;
  color: #f0f1f2;
}
h4 {
  font-weight: lighter;
}

.form-button-primary {
  background-color: #FB7267;
  color: white;
  outline: none;
  font-weight: 700;
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  border: #FB7267 1px solid;
}

.form-button-secondary {
  background-color: #ffffff;
  color: #FB7267;
  outline: none;
  font-weight: 700;
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  margin-right: 0.2rem;
  padding: 1rem;
  border-radius: 5px;
  border: #FB7267 1px solid;

}

input::-webkit-file-upload-button {
  background-color: #444;
  color: #f0f1f2;
  outline: none;
  border: 1px solid #444444;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin-right: 5px;

}

input::-webkit-file-upload-button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
}

.ts-control {
  border: 1px solid #FB7267;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}

/*------END MAIN------*/
