* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
  box-sizing: border-box;
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}


/****** SIDE NAV ********/

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed;
  top: 0; 
  left: 0;
  background-color: #444444;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; 
  transition: 0.3s; 
  opacity: 90%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #f0f1f2;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #a78a7f;
  font-size: 1.6rem;
  transition-duration: 0.1s;
}

.sidenav .closebtn:hover {
  color: #a78a7f;
  font-size: 3.3rem;
  transition-duration: 0.1s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
}

/****** SIDE NAV ********/

/****** NAVBAR ********/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #a4161a;
  color: white;
  height: 48px;
  font-size: 1.5rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

.btn-menu {
  text-align: center;
  margin-right: 10px;
}

.logo-texto a {
  display: none;
  color: white;
  font-family: "Crete Round", serif;
  font-size: 1.6rem;
  text-decoration: none;
}

.logo {
  margin-right: 10px;
}

.logo img {
  padding: 10px, 0px;
  height: 1.6rem;
}

.search-box-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 5px 5px;
  flex-grow: 1;
  background-color: #f0f1f2;
}

.search-box input {
  background-color: #f0f1f2;
  border: none;
  width: 100%;
  font-family: "Fira Sans Extra Condensed", serif;
  font-size: 1rem;
}

.search-box input:focus {
  outline: 0;
}

.search-box .button-search {
  border: none;
  background: transparent;
}

.search-box .button-search i {
  color: #7c7c7c;
  font-size: 1rem;
  cursor: pointer;
}

.btn-user {
  width: 30px;
  text-align: center;
}

.btn-cart {
  display: flex;
  width: 30px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.cart-qty {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  color: #444444;
  background-color: white;
  border: 1px solid #a4161a;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 700;
  /* padding: 2px; */
  text-align: center;
  line-height: 12px;
}

.cart-qty:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navbar .fas {
  color: white;
}

.navbar .fas:hover {
  transform: scale(1.08);
  transition-duration: 0.1s;
}
/****** NAVBAR ********/

/****** NAV CATEGORIES ********/

.categories {
  display: none;
  padding: 5px;
  font-weight: 700;
  background-color: #f0f1f2;
  /* display: flex; */
  justify-content: space-around;
  list-style-type: none;
}

.categories li a {
  color: #6b6b6b;
  margin-left: 5px;
  text-decoration: none;
}

.categories li a:hover {
  color: #a4161a;
  border-bottom: #a4161a 2px solid;
  transition-duration: 0.1s;
}

/****** NAV CATEGORIES ********/

/*------FOOTER------*/
/*bloque newsletter*/
.newsletter-box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #444;
  text-align: center;
}
.newsletter-text h2 {
  color:white;
  font-weight: lighter;
  text-align: center;
  margin: 1rem;
  font-size: 1.3rem;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mail-box { 
  display: flex;
  width: 80vw;

}
.mail-box input {
  width: 80vw;
  height: 2.5rem;
  border-radius: 10px;
  text-align: left;
  font-size: 1rem;
  padding-left: 4px;
}

.mail-button {
  margin: 4px 0px 4px -75px;
  padding: 2px 10px;
  background-color: #a4161a;
  color: white;
  border-radius: 10px;
  font-size: 0.5rem;
}
/*END bloque newsletter*/
/*SOCIAL ICONS*/
.social-icons {
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  margin: 1rem;
}
.fab {
  color: white;
  padding: 0rem 0.3rem;
}

/*END SOCIAL ICONS*/
/*LINE*/
.footer-line {
  height: 1px;
  width: 100%;
  background-color: #A78A7F;
}
/*END LINE*/
/*WHATSAPP AND SCROLL UP*/
.footer {
  background-color:#444444;
}

.footer-icons-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.whatsapp-icon {
  width: 40px;
  height: 40px;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 90px;
}

.scrollup-icon {
  color: black;
  font-size: 30px;
  display: block;
  text-align: center;
  position: fixed;
  right: 40px;
  bottom: 110px;
}

/*END WHATSAPP AND SCROLL UP*/
/*FOOTER INFO*/
.part h2 {
  color: #E7D7C1;
  font-weight: lighter;
}
.part-info h4 {
  color:#F0F1F2;
  opacity: 70%;
  font-weight: lighter;
  margin: 0.3rem 0;
}

.part {
  margin: 1.5rem 0rem 0rem 1.5rem;
}

.phone,
.whatsapp,
.mail,
.part-info,
.questions,
.shipping,
.terms,
.politics {
  color:white;
  text-decoration: none;
  list-style: none;
}

.regret-button {
  background-color: #E7D7C1;
  color: #444444;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
  margin: 0.5rem 0 1.5rem 0;
}
/*END FOOTER INFO*/
/*FOOTER ICONS BOTTOM*/
.footer-icons-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5rem;
  color:white;
  margin-top: 1.5rem;
}
.qr-icon i,
.ssl-icon i {
  padding: 0.2rem;
  margin-bottom: 1rem;
}
/*END FOOTER ICONS BOTTOM*/
/*Copyright and power by*/
h5,
.powerby {
  text-align: center;
  width: 100vw;
  color: #F0F1F2;
  opacity: 70%;
  font-weight: lighter;
  padding: 0.3rem;
}
/*------END FOOTER------*/



