* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
  box-sizing: border-box;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 15px;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
/*----NAVBAR----*/
.navbar-admin {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background:#FB7267;
}
.header-left {
  display: flex;
}

.nav{
  display:flex;
  font-size: 1rem;
  border-radius: 10px;
  padding: 8px 15px;
}
.nav a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.view {
  margin-right: 0.5rem;
  text-align: center;
}
/*----END NAVBAR----*/

.header-user-name {
  font-size: 1rem;
  color: #6b6b6b;
  width: 100px;
}
.up-banner {
  display: none;
  background: #FB7267;
  color: #fff;
  font-size: .7222rem;
  padding: 0.4444rem 0;
}
.up-banner h4 {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

/****** SIDE NAV ********/

.sidenav {
  height: 55%;  
  width: 0;
  position: fixed;
  top: 0; 
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; 
  transition: 0.3s; 
  opacity: 100%;
}

.sidenav a {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #FB7267;
  display: block;
  transition: 0.3s;
}


.sidenav .closebtn:hover {
  color: #a78a7f;
  font-size: 3.3rem;
  transition-duration: 0.1s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 2rem;
}

/****** SIDE NAV ********/

/****** NAVBAR ********/
.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  color: white;
  font-size: 1.5rem;
  margin: 0 0.6rem;
  
}
.navbar-middle {
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.navbar-search {
  display: flex;
  background-color: white;
}

.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-menu {
  text-align: center;
}
.logo {
  background-color: white;
  margin: auto;
}

.logo img {
  max-width: 15rem;
  max-height: 3rem;
  margin:auto;
}

.search-box-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  margin: 6px 0px;
  padding: 5px 15px;
  flex-grow: 1;
  background-color: #F5F6F9;
}

.search-box input {
  background-color: #F5F6F9;
  border: none;
  width: 100%;
  font-family: "Fira Sans Extra Condensed", serif;
  font-size: 1rem;
}

.search-box input:focus {
  outline: 0;
}

.search-box .button-search {
  border: none;
  background: transparent;
}

.search-box .button-search i {
  color: #FC6767;
  font-size: 1rem;
  cursor: pointer;
}

.btn-user {
  width: 30px;
  text-align: center;
}

.btn-cart {
  display: flex;
  width: 30px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.cart-qty {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  color: #444444;
  background-color: white;
  border: 1px solid #FC6767;
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: 700;
  /* padding: 2px; */
  text-align: center;
  line-height: 12px;
}

.cart-qty:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navbar .fas {
  color: #595959;
}

.navbar .fas:hover {
  transform: scale(1.08);
  transition-duration: 0.1s;
}
/****** NAVBAR ********/

/****** NAV CATEGORIES ********/

.categories {
  display: none;
  padding: 5px;
  font-weight: 700;
  background-color: white;
  border: 1px solid #595959;
  margin-bottom: 20px;
  /* display: flex; */
  justify-content: space-around;
  list-style-type: none;
  
}

.categories li a {
  color: #6b6b6b;
  margin-left: 5px;
  text-decoration: none;
}

.categories li a:hover {
  color: #FB7267;
  border-bottom: #FB7267 2px solid;
  transition-duration: 0.1s;
}

/****** NAV CATEGORIES ********/

/*------FOOTER------*/
footer section {
  background-color: #595959;
}
/*bloque newsletter*/
.newsletter-box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #595959;
  text-align: center;
  border: 1px solid white;
}
.newsletter-text h2 {
  color:white;
  font-weight: lighter;
  text-align: center;
  margin: 1rem;
  font-size: 1.3rem;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.mail-box { 
  display: flex;
  width: 80vw;

}
.mail-box input {
  width: 80vw;
  height: 2.5rem;
  border-radius: 10px;
  text-align: left;
  font-size: 1rem;
  padding-left: 4px;
}

.mail-button {
  margin: 6px 0px 6px -75px;
  padding: 2px 10px;
  background-color: #FB7267;
  border:none;
  color: white;
  border-radius: 10px;
  font-size: 0.5rem;
}
/*END bloque newsletter*/
/*LINE*/
.footer-line {
  height: 1px;
  width: 100%;
  color: white;
  height: 0.5px;
}
/*END LINE*/
/*WHATSAPP AND SCROLL UP*/
.icons {
  margin-right: 0.5rem;
  display: block;
  position: fixed;
  bottom: 10px;
  right: 5px;
} 
svg {
  width: 30px;
  height: 30px;
  display:block;
  fill: #999;
  margin: 5px 0px;
}
.whatsapp {
  fill: #0DC143;
}
.facebook {
  fill: #0035BB;
}
.instagram {
  fill: #E7605D;
}

.footer-bottom {
  background-color:#595959;
}

.footer-icons-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*END WHATSAPP AND SCROLL UP*/
/*FOOTER INFO*/
.part h2 {
  color: white;
  font-weight: bold;
}
.part-info h4 {
  color:white;
  opacity: 70%;
  font-weight: lighter;
  margin: 0.3rem 0;
}

.part {
  margin: 1.5rem 0rem 0rem 1.5rem;
}

.phone,
.whatsapp,
.mail,
.part-info,
.questions,
.shipping,
.terms,
.politics {
  color:#595959;
  text-decoration: none;
  list-style: none;
}

.regret-button {
  background-color: #FB7267;
  border:none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
  margin: 0.5rem 0 1.5rem 0;
}
.regret-button h4{
  font-weight: lighter;
}
/*END FOOTER INFO*/
/*FOOTER ICONS BOTTOM*/
.footer-icons-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5rem;
  color:white;
  margin-top: 1.5rem;
}
.qr-icon i,
.ssl-icon i {
  padding: 0.2rem;
  margin-bottom: 1rem;
  color:white;
}
/*END FOOTER ICONS BOTTOM*/
/*Copyright and power by*/
.copyright h5,
.powerby {
  text-align: center;
  width: 100vw;
  color: white;
  opacity: 70%;
  font-weight: lighter;
  padding: 0.3rem;
}


/*------END FOOTER------*/



