* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans';
}

body {
    padding: 0vh 0vw;
    
}

main {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

header {
    position: sticky;
    top: 0;
}

/**********************************************************************/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #444444; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 90%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    color:#F0F1F2;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color:#A78A7F;
    font-size: 1.6rem;
    transition-duration: 0.1s;
  }

  .sidenav .closebtn:hover {
    color:#A78A7F;
    font-size: 3.3rem;
    transition-duration: 0.1s;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
  }
/**********************************************************************/
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 5px;
    padding : 5px;
    background-color: #A4161A;
    color: white;
    height: 5vh;
    font-size: 1.5rem;
}

.btn-menu {
    width: 30px;
    text-align: center;
    flex-shrink: 1;
}

.logo-texto a{
    color: white;
    font-family: 'Crete Round', serif;
    font-size: 1.6rem;
    text-decoration: none;
}

.logo img{
    padding-left: 5px;
    height: 1.6rem;
}

.search-box {
    border-radius: 10px;
    margin: 5px 10px;
    padding: 5px 10px;
    display:flex;
    flex-grow: 1;
    background-color: #F0F1F2;
}

.search-box input{
    background-color: #F0F1F2;
    border: none;
    width: 100%;
    font-family: 'Fira Sans Extra Condensed', serif;
    font-size: 1rem;    
}

/* Quito el recuadro del input al recibir el enfoque */
.search-box input:focus{
    outline: 0;
}

.search-box button {
    border: none;
    background: transparent;
}

.search-box button i {
    color: #7c7c7c;    
    font-size: 1rem;
    cursor:pointer;
}

.btn-user {
    width: 30px;    
    text-align: center;
    flex-shrink: 1;
}

.btn-cart {
    width: 30px;
    text-align: center;
    flex-shrink: 1;
}

.fas {
    color: white;
}

.fas:hover {
    transform: scale(1.08);
    transition-duration: 0.1s;    
}

.categories {
    padding: 5px;
    font-weight:700;
    background-color:#F0F1F2;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.categories li a{
    color: #6b6b6b;
    margin-left: 5px;
    text-decoration: none;
}

.categories li a:hover {
    color: #A4161A;
    border-bottom: #A4161A 2px solid;
    transition-duration: 0.1s;
}

.banner {
    height: auto;
    background-color: #F0F1F2;
}

.secondary-links {
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 8vh;
    background-color: #F0F1F2;
    border: #A78A7F solid 1px;
}

.secondary-links div {
    display: flex;
    flex-direction: column;
}

.secondary-links div i {
    color: #A78A7F;
    font-size: 6vh;
    padding-right: 2vw;
    border-right: #A78A7F solid 1px;
}

.secondary-links h5,
.secondary-links p {
    margin-left: 1vw;
    font-family: 'Fira Sans Condensed', serif;
    text-align: left;
    color: #444444;
    font-size: 1rem;
}


.featured-title {
    color: #444444;
    text-align: center;
}

.featured {
    height: 20vh;
    background-color: #F0F1F2;
    padding: 0px 0px 245px 0px;
}

/*-----DESTACADOS------*/

.carrusel{
    display: flex;
    justify-content: space-around;
}

.arrow{
    margin: 0px 0px 0px 0px;
}

.articulo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccc;
    padding: 12px 15px 12px 15px;
    border-radius: 10px;
    width: 145px;
}

.imagen-vino{
    width: 80px;
    height: 150px;
}

.nombre-vino{
    text-align: center;
    margin-top: 5px;
}

.precio-vino{
    margin-top: 5px;
}

.add-buttonn button{
    margin: 12px 0px 0px 0px;
    padding: 10px;
    background-color: #a4161a;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.articulo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccc;
    padding: 12px 15px 12px 15px;
    border-radius: 10px;
    width: 145px;
}



.add-buttonn button{
    margin: 12px 0px 0px 0px;
    padding: 10px;
    background-color: #a4161a;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.articulo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccc;
    padding: 12px 15px 12px 15px;
    border-radius: 10px;
    width: 145px;
}



.add-buttonn button{
    margin: 12px 0px 0px 0px;
    padding: 10px;
    background-color: #a4161a;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.articulo4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cccc;
    padding: 12px 15px 12px 15px;
    border-radius: 10px;
    width: 145px;
}


.add-buttonn button{
    margin: 12px 0px 0px 0px;
    padding: 10px;
    background-color: #a4161a;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

/*------FOOTER------*/
/*bloque newsletter*/
.newsletter-box {
    background-color: #F0F1F2;
    text-align: center;
    border: 1px solid black;
    padding: 10px 0px 10px;
}
h2{
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem;
}
/*barra tu mail*/
.mail-box { 
    margin-top: 1rem;
    margin-right: 0rem;
}
/*barra por dentro*/
.mail-box input {
    height: 2rem;
    border-radius: 10px;
    text-align: left;
    font-size: 1rem;
    padding-left: 4px;
    width: 50%;
}
/*boton suscribirse*/
.mail-button button {
    margin-left: -3rem;
    padding: 10px;
    background-color: #a4161a;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

/*------MEDIA QUERIES------*/
@media (max-width: 768px) {
    .categories {
      display: none;
    }
    .logo-texto {
        display: none;
    }
    .secondary-links h5,
    .secondary-links p {
        display: none;
    }
    .articulo4{
        display: none;
    }
}

@media (max-width: 469px){
    .articulo3{
        display: none;
    }
}

@media (min-width: 769px) {
    .btn-menu {
      display: none;
    }
}