* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #eeee;
}
main {
  display: flex;
  align-items: center;
}
header {
  background-color: #FB7267;
}
tbody {
  background-color: white;
}
.header-left {
  display: flex;

}
.navbar {
  display: flex;
  flex-wrap: wrap;
  background:#FB7267;

}
.nav-left{
  color:white;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
  margin-left: 0.5rem;
}
.nav-right {
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  padding: 7px;
  
}
.sub {
    text-decoration: none;
    color:#444;
    padding-right: 15px;
}
.filter {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    width: 90vw;
}

    .edit-buttons {
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;  
      gap : 10px;
    }
    
    .form-button {
      border-radius: 10px;
      font-size: 1.2rem;
      padding: 10px 13px;
      cursor: pointer;
      width: 100%;
      /* max-width: 200px; */
      /* margin: 5px auto; */
      text-decoration: none;
      border:none;
    }
    
    .form-button:hover {
      transform: scale(1.01);
      box-shadow: 2px 2px 3px 0px rgba(68, 68, 68, 0.4);
    }
    
    .form-button:active {
      background-color: #444444;
      color: #f0f1f2;
    }
    
    .form-button-primary {
      background-color: #FB7267;
      color: white;
      outline: none;
    }
    
    .form-button-secondary {
      background-color: #f0f1f2;
      color: #FB7267;
      outline: none;
      font-weight: 700;
    }

    table{
      margin: 40px 5px;
      color: #444444;
      border: 1px solid #444444;
    }
    
    tr {
      border: 1px solid #444444;
    }
    
    th {
      color: rgb(117, 71, 57);
      /* width: auto; */
      padding: 5px;
      border: 1px solid #444444;
    }
    
    td {
      padding: 5px;
      border: 1px solid #444444
    }
    .titulo {
        margin-top: 2rem;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        background: #fff;
        color: #7e7e7e;
        border-top: 3px solid #FB7267;
        cursor: pointer;
        padding: 5px;
        position: relative;
        -webkit-transition: background .4s;
        transition: background .4s;
        box-shadow: 0px 0px 5px 1px rgb(121, 121, 121);
    }

/*-----END LIST OF PRODUCTS------*/
