<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title:'Panel de administradores'})%>

<body>

    <%- include('./partials/header')%>

    <main>
    <h4>PANEL DE ADMINISTRACIÓN</h4>
    <div class="form-element-group">

        <a href="/admin/products" class="form-button form-button-primary">ADMINISTRAR PRODUCTOS</a>
        <a href="" class="form-button form-button-primary">ADMINISTRAR CATEGORÍAS</a>
        <a href="" class="form-button form-button-primary">ADMINISTRAR USUARIOS</a>

    </div>
</main>    
</body>

</html>