<div class="swiffy-slider slider-nav-autoplay">
    <ul class="slider-container">
        <li><img src="img/png/banner-1.png" style="width:100%; height: auto; max-width: 100%;"></li>
        <li><img src="img/png/banner-4.png" style="width:100%; height: auto; max-width: 100%;"></li>
        <li><img src="img/png/banner-5.png" style="width:100%; height: auto; max-width: 100%;"></li>
        <li><img src="img/png/banner-9.png" style="width:100%; height: auto; max-width: 100%;"></li>
    </ul>

    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>

    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
    </div>
</div>