<section class="relevant">
    <h2 class="featured-title">DESTACADOS</h2>
    <article class="carousel">
        <div class="articuloX">
            <div class="fondo"><a href="/"></a>
                <img class="imagen-vino" src="img/homeParte2/DanteRobinoChardonnay.png" alt="vinito"></div>
            <p class="nombre-vino">Vino Dante Robino<br>Reserva Malbec</p>
            <p class="precio-vino">$2000</p>
            <span class="add-buttonn">
                <button class="fas fa-cart-plus">AGREGAR</button> 
            </span>
        </div>
        <div class="articuloX">
            <div class="fondo"><img class="imagen-vino" src="img/homeParte2/DanteRobinoExtraBrut.png" alt="vinito"></div>
            <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
            <p class="precio-vino">$2000</p>
            <span class="add-buttonn">
                <button class="fas fa-cart-plus">AGREGAR</button> 
            </span>
        </div>
        <div class="articuloX">
            <div class="fondo"><img class="imagen-vino" src="img/homeParte2/DRReservaMalbec.png" alt="vinito"></div>
            <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
            <p class="precio-vino">$2000</p>
            <span class="add-buttonn">
                <button class="fas fa-cart-plus">AGREGAR</button> 
            </span>
        </div>
        <div class="articuloX">
            <div class="fondo"><img class="imagen-vino" src="img/homeParte2/NovecentoRosado.png" alt="vinito"></div>
            <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
            <p class="precio-vino">$2000</p>
            <span class="add-buttonn">
                <button class="fas fa-cart-plus">AGREGAR</button> 
            </span>
        </div>     
    </article>
</section>
