<section class="relevant">
    <h2 class="featured-title">DESTACADOS</h2>
    
    <article class="carousel">
        
        <% product.forEach((product)=>{ %> 
        
        <div class="articuloX">
            <a href="../products/<%= product.id %>">
            <div class="fondo">
                <img class="imagen-vino" src="img/products/<%= product.image %>" alt="vinito"></div>
            <p class="nombre-vino"><%= product.name %></p>
            <p class="precio-vino"><%= product.price %></p>
            <a href="../orders/cart"><span class="add-buttonn">
                <button class="fas fa-cart-plus"> AGREGAR</button> 
            </span></a>
           </a>
        </div>
        <% }) %>   
      
    </article>
    
</section>
