<footer>
    <section>
        <article>
            <div class="newsletter-box">
                <div class="newsletter-text">
                    <h2>Recibí todas nuestras ofertas y novedades</h2>
                </div>
                <div class="newsletter-form">
                    <div class="mail-box">
                        <input name="email" type="text" placeholder="Tu email">
                    </div>
                        <button class="mail-button">SUSCRIBIRSE</button> 
                </div>
            </div>
        </article>

    <article>
        <div class="footer">
            <div class="footer-icons">
                <div>
                    <a href=" https://wa.me/+541112345678"><img class="whatsapp-icon" src="/img/whatsapp.png" alt="whatsapp"></a>
                </div>
                <div class="scrollup-icon">
                   <i class="fas fa-arrow-circle-up"></i>
                </div>
            </div>
            <div class="footer-boxes">
                <div class="footer-box1">
                <div class="followus">
                    <h2>SEGUINOS</h2>
                        <div class="social-icons">
                            <div class="twitter-icon">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="facebook-icon">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <div class="instagram-icon">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                </div>
                </div>

                <div class="footer-box2">
                <div class="contact">
                    <h2>CONTACTO</h2>
                    <ul class="contact-info">
                        <li class="address"><h4>Falsa 123, Capital Federal</h4></li>
                        <li><a href=" https://wa.me/+541112345678" class="whatsapp"><h4>WHATSAPP 1112345678</h4</a></li>
                        <li><a href="tel:+541144441212"class="phone" target="_blank"><h4>
                        TELÉFONO 1144441212</h4></a></li>
                    </ul>
                </div>
                </div>

                <div class="footer-box3">
                <div class="company">
                    <h2>EMPRESA</h2>
                    <ul class="company-info">
                        <li><a href="#" class="help-questions"><h4>Preguntas Frecuentes</h4></a></li>
                        <li><a href="#" class="terms"><h4>Términos y Condiciones</h4></a></li>
                        <li><a href="#" class="map"><h4>Mapa del sitio</h4></a></li>
                    </ul>
                </div>
                </div>

                <div class="footer-box4">
                <div class="regret-button">
                    <button>Botón de Arrepentimiento</button> 
                </div>
                <div class="safe-icons">
                    <div class="qr-icon">
                        <i class="fas fa-qrcode"></i>
                    </div>
                    <div class="ssl-icon">
                        <i class="fab fa-expeditedssl"></i>
                    </div>
                </div>
                </div>
            </div>

        </div>   
    </article>

    </section>        
</footer>
