<footer>
    <section>
        <article>
            <div class="newsletter-box">
                <div class="newsletter-text">
                    <h2>Recibí todas nuestras ofertas y novedades</h2>
                </div>
                <div class="newsletter-form">
                    <div class="mail-box">
                        <input name="email" type="text" placeholder="Tu email"><button class="mail-button">SUSCRIBIRSE</button>
                    </div>
                 </div>
                <div class="social-icons">
                    <div class="facebook-icon">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="instagram-icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </article>
        <div class="footer-line"></div>

        <article>
        <div class="footer">
            <div class="footer-icons-top">
                <div> 
                    <a href=" https://wa.me/+541112345678"><img class="whatsapp-icon" src="/img/whatsapp.png" alt="whatsapp"></a>
                </div>
                <div class="scrollup-icon">
                   <i class="fas fa-arrow-circle-up"></i>
                </div>
            </div>
            <div class="footer-parts">
                <div class="part">
                    <h2>LOCAL</h2>
                    <a href="#" class="part-info"><h4><p>Pick-Up Point</p> 
                        <p></p>Armenia 1000, Palermo, C.A.B.A.</p> 
                        <p></p>Horario de atención:</p> 
                        <p></p>Lunes a Sábados de 11 a 19 hs.</p></h4>
                    </a>
                </div>
                <div class="part">
                    <h2>CONTACTO</h2>
                    <ul class="part-info">
                        <li><a href=" https://wa.me/+541112345678" class="whatsapp"><h4>Whatsapp 1112345678</h4></a></li>
                        <li><a href="tel:+541144441212"class="phone" target="_blank"><h4>
                        Teléfono 1144441212</h4></a></li>
                        <li><a href="#" class="mail"><h4>ventas@elcaliz.com.ar</h4></a></li>
                    </ul>
                </div>
                <div class="part">
                    <h2>AYUDA</h2>
                    <ul class="part-info">
                        <li><a href="#" class="questions"><h4>Preguntas Frecuentes</h4></a></li>
                        <li><a href="#" class="shipping"><h4>Envíos y formas de pago</h4></a></li>
                        <li><a href="#" class="terms"><h4>Términos y condiciones</h4></a></li>
                        <li><a href="#" class="politics"><h4>Políticas de privacidad</h4></a></li>
                    </ul>
                    <div>
                        <button class="regret-button"><h4>Botón de Arrepentimiento</h4></button> 
                    </div>
                </div>
            </div>
            <div class="footer-line"></div>
            <div class="footer-bottom">
                <div class="footer-icons-bottom">
                    <div class="qr-icon">
                        <i class="fas fa-qrcode"></i>
                    </div>
                    <div class="ssl-icon">
                        <i class="fab fa-expeditedssl"></i>
                    </div>
                </div>
                <div><h5>© El Caliz 2011 - 2021. Todos los derechos reservados.</h5></div>
                <div><h4 class="powerby">Power By Group3</h4></div>
            </div>
        </div>   
        </article>

    </section>        
</footer>
