<header>
    <nav class="navbar-admin">
        <div class="nav">
            <div class= "view">
                <a href="/">Ver tienda</a>
            </div>
            <div class= "view">
                <a href="/admin">Admin board</a>
            </div>
        </div>
        <div class="login">
            
            <div class="nav"><i class="fas fa-user"></i></a></div>

            <% if(locals.isLogged) {%>
                <p class= "view-login" class="nav">
                    <%= userLogged.name%>
                </p>
                <div class= "view-login" class="nav"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></div>
                <% } %>
        </div>

    </nav>
</header>
