<header>
    <nav class="navbar-admin">
        <div class="nav">
            <div class= "view">
                <a href="/">Ver tienda</a>
            </div>
            <div class= "view">
                <a href="/admin">Admin board</a>
            </div>
        </div>
        <div class="nav"><i class="fas fa-user"></i></a></div>

        <% if(locals.isLogged) {%>
            <p class="nav">
                <%= userLogged.name%>
            </p>
            <div class="btn-logout"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></div>
            <% } %>
    </nav>
</header>
