<header>
    <nav class="navbar">
        <div class="header-left">
            <div>
                <a href="/" class= "nav-left">Tienda</a>
            </div>
            <div>
                <a href="/admin" class= "nav-left">Inicio</a>
            </div>
        </div>
            <a class= "nav-right" href="">Hola, Maru</a>
        </div>
    </nav>
</header>
