<header>
    <nav class="navbar-admin">
        <div class="nav">
            <div class= "view">
                <a href="/">Ver tienda</a>
            </div>
            <div class= "view">
                <a>|</a>
            </div>
            <div class= "view">
                <a href="/admin">Admin board</a>
            </div>
        </div>
        <div class= "nav" >
            <a href="">Hola Pepito!</a>
        </div>
    </nav>
</header>
