<header>
    <div class="up-banner">
        <h4>Hasta 3 cuotas sin interes!</h4>
    </div>
    <nav class="navbar">
        <div class="navbar-left">

            <div>
                <a onclick="openNav()" class="btn-menu" href="#"><i class="fas fa-bars"></i></a>
            </div>
            
            <div class="logo">
                <a href="/"><img src="/img/logo.png" alt="">
            </div>
        </div>

        <div class="navbar-search">
            <div class="search-box-container">
                <div class="search-box">
                    <input type="input" name="" id="" placeholder="Buscar...">
                    <button class="button-search"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
  
        <div class="navbar-right">
            <div class="navbar-icons">
                <div class="btn-user"><a href="/users/login"><i class="fas fa-user"></i></a></div>

                <% if(locals.isLogged) {%> 
                    <p class="header-user-name"><%= userLogged.nombre + ' ' + userLogged.apellido %> </p>
                <div class="btn-logout"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></div>
                <% } %> 

                <div class="btn-cart">
                    <a href="/orders/cart"><i class="fas fa-shopping-cart"></i></a>
                    <div class="cart-qty">8</div>
                </div>
|            </div>
        </div>

    </nav>
    <nav>
        <ul class="categories">
            <li><a href="/category/tintos">TINTOS</a></li>
            <li><a href="/category/blancos">BLANCOS</a></li>
            <li><a href="/category/rosados">ROSADOS</a></li>
            <li><a href="/category/espumantes">ESPUMANTES</a></li>
            <li><a href="/category/accerorios">ACCESORIOS</a></li>
            <li><a href="/category/ofertas">OFERTAS</a></li>
        </ul>
    </nav>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/category/tintos">TINTOS</a>
        <a href="/category/blancos">BLANCOS</a>
        <a href="/category/rosados">ROSADOS</a>
        <a href="/category/espumantes">ESPUMANTES</a>
        <a href="/category/accerorios">ACCESORIOS</a>
        <a href="/category/ofertas">OFERTAS</a>
    </nav>
    </header>