<section class="secondary-links">

    <div><i class="fas fa-sync"></i></div>
    <div>
        <h5>CAMBIO Y DEVOLUCIÓN</h5>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div><i class="fas fa-money-check-alt"></i></div>
    <div>
        <h5>FORMAS DE PAGO</h5>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div><i class="fas fa-shipping-fast"></i></div>
    <div>
        <h5>ENVÍOS</h5>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
</section>
