<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>

    <%- include('../partials/header')%>

 <main>     


<form action="" class="formulario">
    
    <h1 class="formulario__titulo">Formulario</h1>
        <input type="text" class="formulario__input">
     <label for="" class="formulario__label">Nombre del producto</label>
     <input type="text" class="formulario__input">
     <label for="" class="formulario__label">Descripcion</label>
     <input type="text" class="formulario__input">
     <label for="" class="formulario__label">Imagen</label>
     <input type="text" class="formulario__input">
     <label for="" class="formulario__label">Categoria</label>
     <input type="text" class="formulario__input">
     <label for="" class="formulario__label">Colores</label>
     <input type="text" class="formulario__input">
     <label for="" class="formulario__label">Precio</label>

     <input type="submit" class="formulario__submit">
    
    </form>
 </main>

     <%- include ('../partials/footer') %>

</body>

</html>